[2018-08-20 00:31] Catfriend1 opened #12 "[FR] Display last successful update date"
Quote from @vi https://github.com/syncthing/syncthing-android/issues/523

Now it just shows "up to date", but I'm not sure up to which date is it.

[2018-08-20 00:31] Catfriend1 commented on #12
Note: RemoteIndexUpdated

[2018-08-20 00:33] Catfriend1 opened #13 "[FR] Welcome wizard - Import backup slide"
Quote from @licaon-kter https://github.com/syncthing/syncthing-android/issues/622

(new user) Generate keys
(reinstall etc) Import settings (and actually keys)
So one can bypass yet another key generation ?

[2018-08-20 00:34] Catfriend1 opened #14 "[FR] Syncthing should complain loudly when items fail"
Quote from @klement https://github.com/syncthing/syncthing-android/issues/747

I recently hit a permissions issue which stopped my sync - even though SOME items couldn't sync, NO items would be synced. I only noticed this because I changed my pwd database on the PC and needed to use it the next day on mobile and it wasn't synced.
So if there are any items failed - syncthing should complain loudly

[2018-08-20 00:35] Catfriend1 opened #15 "[FR] Add option to trigger sync every hour"
Quote from @alok0 https://github.com/syncthing/syncthing-android/issues/769

Feature Request: The "Syncthing is disabled" dialog should have options other than "Exit" and "Change Settings".
Perhaps a "Manually enabled" for one session, or "Enable for 15 minutes".
Sometimes I just need to pull down a file that didn't make it while I was at home.

[2018-08-20 00:36] Catfriend1 commented on #15
Quote from @bradmont https://github.com/syncthing/syncthing-android/issues/769

If I were to design the UX, I'd do something like:
Get rid of the "Synthing is disabled" dialog.
When settings prohibit synthing from running, instead of the "folders | devices" fragments, show another activity that says something like "the Syncthing service is stopped because of your sync preferences."
On this activit

[2018-08-20 00:37] Catfriend1 opened #16 "Wifi run condition needs location to be turned on (Android 8+)"
Quote from @ec1oud https://github.com/syncthing/syncthing-android/issues/1129

Now I try unchecking Always run in background. The idea is when I launch the app, it should sync once, right? But it still says it's disabled! What's the point of this checkbox then?
It's been a bit beyond comprehension for the entire life of this project that I can't get it to run quite exactly when I'd like it to: I p

[2018-08-20 00:38] Catfriend1 opened #17 "Syncthing silently quits or is terminated, show user notification"
Quote from @wiwie https://github.com/syncthing/syncthing-android/issues/1172

folder only syncs with other devices if I open the web UI in the syncthing android client.
what you expected to happen instead
the sync should start immediately after adding the sync, without having to open the web UI
any steps to reproduce the problem.
-> Opened syncthing android client
-> Added a new local folder as sy

[2018-08-20 00:39] Catfriend1 opened #18 "Context.startForegroundService() did not then call Service.startForeground()"
Quote from @ Catfriend1 https://github.com/syncthing/syncthing-android/issues/1192

![image](https://user-images.githubusercontent.com/16361913/43201310-67d6b43e-9018-11e8-89fa-f909cd0b5e59.png)

Android 8+ users cannot run syncthing as a background service without getting a hang if the service startup takes longer than 5 seconds. This is due to a recently introduced android restriction. There wer

[2018-08-20 00:41] Catfriend1 opened #19 "editIgnores causes android.os.FileUriExposedException"
Quote from @Catfriend1 https://github.com/syncthing/syncthing-android/issues/1204

OnePlus One (A0001), Android 7.1
Log:
`android.os.FileUriExposedException:
  at android.os.StrictMode.onFileUriExposed (StrictMode.java:1806)
  at android.net.Uri.checkFileUriExposed (Uri.java:2354)
  at android.content.Intent.prepareToLeaveProcess (Intent.java:8981)
  at android.content.Intent.prepareToLeaveProcess

[2018-08-20 00:41] Catfriend1 commented on #19
Quote @Catfriend1

[2018-08-22 20:53] #17 closed

[2018-08-22 21:06] Catfriend1 commented on #17
@wiwie @dkaparis Fixed this in my fork. If you'd like to try, see https://github.com/Catfriend1/syncthing-android/releases .

[2018-08-23 07:56] Catfriend1 opened #26 "Crash with "Explicit termination method 'close' not called" - exit code 9"
Quote from @ProactiveServices  https://github.com/syncthing/syncthing-android/issues/1217

App Version: 0.10.13
Syncthing Version: v0.14.49-dirty
Android Version: Android 5.0.2

Syncthing is running.
Allowed to run on mobile data, but not connected
Allowed to run on WiFi and connected
Allowed to run on non-metered WiFi. Active WiFi is non-metered.
Allowed to run on the current WiFi.
In the options

[2018-08-23 07:57] Catfriend1 commented on #26
Closed by PR https://github.com/Catfriend1/syncthing-android/pull/25

[2018-08-23 07:57] #26 closed

[2018-08-23 08:01] Catfriend1 commented on #26
New release is up: https://github.com/Catfriend1/syncthing-android/releases

[2018-08-25 20:30] Catfriend1 opened #33 "Syncthing eats CPU even when doing nothing / Battery eater"
Quote from @klement on syncthing-android issue tracker:

This is in a state with one peer and both phone and the other peer say that everything is up to date.
![image](https://user-images.githubusercontent.com/16361913/44622318-6b268180-a8b6-11e8-9c3d-5aa2f54d4258.png)

Just before filling this bug, I removed syncthing and wiped all .stfolder stuff. Also made sure there is no stale Android data. I

[2018-08-25 20:31] Catfriend1 commented on #33
@vsespb Do you also have this problem?

[2018-08-25 20:32] Catfriend1 commented on #33
@klement @vsespb Would you mind assisting me in solving the "battery eater" problem which is very difficult to track down and requires intense testing? I can then push a pre-release on this repo for you to try if it is solved.

[2018-08-25 21:10] Catfriend1 commented on #33
#34

[2018-08-25 21:49] Catfriend1 commented on #33
@klement @vsespb If you'd like to try, there's a new pre-release up with the battery eater fixed. Link : https://github.com/Catfriend1/syncthing-android/releases/download/v0.14.50.rc2.4/com.github.catfriend1.syncthingandroid_0.14.50.rc2.4_640d7f1.zip

[2018-08-26 08:30] Catfriend1 opened #38 "Override changes button not appearing on sendonly folder"
Wrapper UI does not show the "override changes" button. It only shows "Out of sync".

### Description of the issue

  "globalBytes": 26015110,
  "globalDeleted": 52,
  "globalDirectories": 0,
  "globalFiles": 1,
  "globalSymlinks": 0,
  "ignorePatterns": false,
  "inSyncBytes": 0,
  "inSyncFiles": 0,
  "invalid": "",
  "localBytes": 0,
  "localDeleted": 27,
  "localDirectories": 0,
  "localFiles":

[2018-08-26 08:47] #38 closed

[2018-08-26 08:50] Catfriend1 commented on #38
@nonbinary The button didn't show up today, so I fixed the problem and will do a release here shortly.

[2018-08-26 09:07] Catfriend1 commented on #19
Endpoint "/rest/db/ignores?folder=[FOLDER_ID]"
{"expanded":["LINE1","LINE2", ""]}

[2018-08-26 09:10] Catfriend1 commented on #19
POST: "/rest/db/ignores?folder=[FOLDER_ID]"
{"expanded":["(?i)---","(?i)**/---","(?i)---/**","(?i)**/---/**"],"ignore":["---"]}

[2018-08-27 16:40] #33 closed

[2018-08-27 16:41] Catfriend1 commented on #33
On my phone, battery usage of the app got better.

[2018-09-12 06:26] Catfriend1 opened #44 "[Experimental] Looking for testers of new 0.14.51.rc3.3 syncthing version"
Hi,

I'm currently testing syncthing (core) 0.14.51-rc.3 from upstream repository if it works well in the android wrapper. As event handling for example changed upstream, I need to test this before releasing a new version - and if there are problems - adjust the wrapper code.

I appreciate your help on this. If you'd like to help, **please backup any important data and your syncthing configuration

[2018-09-12 06:33] Catfriend1 commented on #44
First glance: Looks good :)
![image](https://user-images.githubusercontent.com/16361913/45406355-7e7f6e00-b666-11e8-9016-a5ee4e5a522a.png)

[2018-09-13 08:08] Catfriend1 commented on #44
@dkaparis @Avamander : Hi you two. Would you mind helping me on testing the most recent syncthing version and report back if your issues (reported on the official issue tracker) still exist?

[2018-09-13 12:39] dkaparis commented on #44
I would, but schedule is very tight these days. Maybe I'll get around to it end of next week or so.

[2018-09-13 14:20] Catfriend1 commented on #44
@dkaparis no hurry :)

[2018-09-13 22:07] Avamander commented on #44
@Catfriend1  the app crashes on the key generation screen.

[code]

[2018-09-13 23:47] Catfriend1 commented on #44
@Avamander I'll look into that, thanks for reporting the problem.

[2018-09-14 16:30] Catfriend1 commented on #44
Wow, hard to keep up, but I'm preparing to test 0.14.51-rc.3 ...

[2018-09-14 16:34] Catfriend1 opened #46 "F-Droid build 4154 currently appears to be broken - Investigating ..."
### Reproducer
- Install the app from f-droid (instead of github releases page)
- complete the welcome wizard
- crash!

### Version Information
    App Version: com.github.catfriend1.syncthingandroid 0.14.50.rc2.6 (4145)

### Android Log
![image](https://user-images.githubusercontent.com/16361913/45563204-f6a78880-b84c-11e8-81ec-a30d9b97a7fa.png)

[2018-09-14 18:04] hiqua opened #48 "Please make the version explicit on FDroid"
Your version and the original one are almost identical on FDroid, which is misleading. At least, the title should be changed to avoid confusing people, with a clear indication that this is is a fork.

I'm also not sure that the original project will accept your use of the term "Syncthing", so renaming this fork completely now would avoid further trouble.

[2018-09-14 18:41] Catfriend1 commented on #46
More detailed log:

09-14 20:40:41.037 19398 19398 E RestApi :   "alloc": 11306288,
09-14 20:40:41.037 19398 19398 E RestApi :   "connectionServiceStatus": {
09-14 20:40:41.037 19398 19398 E RestApi :     "dynamic+https://relays.syncthing.net/endpoint": {
09-14 20:40:41.037 19398 19398 E RestApi :       "error": "Get https://relays.syncthing.net/endpoint: dial tcp 0.0.0.0:443: getsockopt: connecti

[2018-09-14 19:04] Catfriend1 commented on #44
@Avamander Referring to #46 the current fdroid build is badly broken. I've fixed it and hoping fdroid will update its store soon.

[2018-09-14 19:06] Catfriend1 commented on #46
Solved in next release.

[2018-09-14 19:06] #46 closed

[2018-09-14 19:08] Catfriend1 commented on #48
Hi @hiqua ,
thanks for pointing this out. I'm already on it with highest priority. You're absolutely right and this came by accident. I'm submitting a new github release that fdroid can/will pick up shortly.
See it's already done here:
- https://github.com/Catfriend1/syncthing-android/pull/47
- https://github.com/Catfriend1/syncthing-android/pull/42

Again, thanks for you taking care! :)
Best rega

[2018-09-14 19:20] Catfriend1 commented on #48
Pushed a new release out which will find the way on fdroid in their next build cycle. (I can't control when this takes place but should be very soon).
https://github.com/Catfriend1/syncthing-android/tree/v0.14.51.rc3.1

[2018-09-15 10:31] Catfriend1 opened #50 "Ignoring a device leads to wrapper crash"
### Description of the issue
Ignoring a device leads to a crash, accept still works.

### Reproducer
Let a new device connect to your mobile syncthing 0.14.51 instance. Hit the "ignore" button on the notification > Crash.

### Version Information
    App Version: 0.14.51.rc3.1 4157
    Syncthing Version: v0.14.51
    Android Version: Android 7.1.2

### Android Log
![image](https://user-images.gith

[2018-09-15 10:31] Catfriend1 commented on #44
Bug #50 discovered related to most recent st release 0.14.51-rc.3

[2018-09-15 11:04] Catfriend1 commented on #48
Today, I got informed by relan from fdroid team that the build of 4156 took place. So one more build cycle to reach 4157 (already released here) and this issue will be fixed.

[2018-09-15 14:46] Catfriend1 commented on #50
under <configuration>
    <pendingDevice time="2018-09-15T16:46:05.1860072+02:00" id="Y5WJZFU-VC4GKS4-ZM4V5S5-QBHPJKO-5ZITUHH-PILAOYI-MQCILNB-BQ4FWQO" name="" address="127.0.0.1:59750"></pendingDevice>

[2018-09-15 14:53] Catfriend1 commented on #50
under  `<device id="Y5WJZFU-VC4GKS4-ZM4V5S5-QBHPJKO-5ZITUHH-PILAOYI-MQCILNB-BQ4FWQO" name="" compression="metadata" introducer="false" skipIntroductionRemovals="false" introducedBy="">
        <address>dynamic</address>
        <paused>false</paused>
        <autoAcceptFolders>false</autoAcceptFolders>
        <maxSendKbps>0</maxSendKbps>
        <maxRecvKbps>0</maxRecvKbps>
        <pendingFolder

[2018-09-15 18:16] #50 closed

[2018-09-15 18:20] Catfriend1 opened #53 "UI displays "Android grants read-only access" but "Send&Receive" mode is pre-selected"
### Reproducer
Try to add a folder on write-protected storage area.
UI displays "Android grants read-only access" label but "Send&Receive" mode is pre-selected.

### Version Information
    App Version: 0.14.51.rc3.2
    Syncthing Version: v0.14.51-rc.3
    Android Version: Android 8.1

[2018-09-15 18:37] #53 closed

[2018-09-15 18:45] Catfriend1 commented on #44
@Avamander Which Android version do you use? Is that crash happening on Android 4 or 5?

[2018-09-15 18:50] Catfriend1 opened #55 "android.view.ViewRootImpl$CalledFromWrongThreadException if key generation failed"
### Description of the issue
Reported by @Avamander in #44.
Quote: @Catfriend1  the app crashes on the key generation screen.

### Reproducer
Run app for the first time. Simulate key generation to fail. App will crash then instead of showing a message.

### Version Information
    App Version: 0.14.51.rc3.2
    Syncthing Version: v0.14.51-rc.3
    Android Version: Android 7.1.2

### Android Log
[c

[2018-09-15 18:50] Catfriend1 commented on #55
Sidenote - https://stackoverflow.com/questions/7474379/asynctask-only-the-original-thread-that-created-a-view-hierarchy-can-touch-its

[2018-09-15 19:09] #55 closed

[2018-09-15 19:09] Catfriend1 commented on #55
Thanks @Avamander for reporting this problem! :-)

[2018-09-15 19:13] Catfriend1 opened #57 "[FR] Feature Request: Different synchronisation conditions per folder"
Quote from @cdrfun at https://github.com/syncthing/syncthing-android/issues/1225

Possible use case:
One folder which is important should always be up to date - no matter if I'm on WiFi or battery. For me this would be my folder with the password manager database.
Other folders like photos could be synched only with WiFi and/or battery.
Would this be possible given the current architecture?
What d

[2018-09-15 19:15] Catfriend1 commented on #57
Hi @cdrfun !
I'm currently working on many improvements for the wrapper. Yes, it would be possible and I've already made a development for this feature that fits to your description. Thanks for writing it up. When I'm done with the compatibility and bug fixing stuff I'll go on this challenge.
Kind regards
Catfriend1

[2018-09-15 19:38] Catfriend1 opened #58 "Android 8 - Fix home volume not recognized"
Home and Downloads volume are not recognized.

### Version Information
    App Version: 0.14.51.rc3.2
    Syncthing Version: v0.14.51-rc.3
    Android Version: Android 8.1 @ Samsung I9100

[2018-09-15 20:06] #58 closed

[2018-09-15 20:52] Catfriend1 commented on #44
@dkaparis @Avamander I've made a new release with a lots of bugs and crashes fixed. The wrapper is now ready for the most recent syncthing 0.14.51-rc.3.
https://github.com/Catfriend1/syncthing-android/releases/tag/v0.14.51.rc3.3
https://github.com/Catfriend1/syncthing-android/releases/download/v0.14.51.rc3.3/com.github.catfriend1.syncthingandroid_4159_0.14.51.rc3.3_861d92b.apk

[2018-09-16 10:06] Catfriend1 commented on #48
4158 got build last night and will hopefully come up today in the client app.

[2018-09-17 14:55] Catfriend1 commented on #48
Its fixed now on the webpage and client of fdroid.

[2018-09-17 14:55] #48 closed

[2018-09-17 15:22] Catfriend1 commented on #44
We are now live on fdroid, you can also get the app there if you prefer.

[2018-09-17 15:22] #44 closed

[2018-09-17 15:44] hiqua commented on #48
Thanks! Please note however that the Syncthing team is probably in their right to demand that this fork stop using the logos and the Syncthing name altogether, so depending on their reaction you may have to change the code some more.

[2018-09-17 15:53] Catfriend1 commented on #48
Theoretically youre right, practically you can find a post of the project leader calmh on the official Syncthing forum where he said that "he doesn't care" as there are already e.g. logos with all colors or wild modifications from the original one around  and defining the CI of syncthing was seen as "failed to establish". If it will matter in the future, I will sure make the name and logo adjustme

[2018-09-18 22:04] Avamander commented on #44
![screenshot_2018-09-19-00-59-11](https://user-images.githubusercontent.com/5392141/45719067-d9a1eb00-bba7-11e8-890c-68be1a6c9c77.png)

a. The setup text overflows the bottom bar
b. The `Continue` button text gets clipped by physical screen borders
c. When key generation fails the back button takes one back but then there's no `Continue` button any longer and the app has to be restarted - just a b

[2018-09-19 04:15] Catfriend1 commented on #44
Thanks for your feedback. From the log above I see that the Syncthing binary is not there. Honestly I dont know why , is this an old android version, if yes , which one?

[2018-09-20 12:00] Catfriend1 opened #62 "App has hang bug"
Issue quote from https://github.com/syncthing/syncthing-android/issues/1226
@JonasT
This problem is fixed in Syncthing-Fork. Feel free to try it from this repo and provide feedback.

If you have issues with this fork, feel free to post them. I'll look into them if a good reproducer or log is provided.

### Description of the issue

### Reproducer

### Version Information
    App Version: 0.x.y

[2018-09-20 12:01] #62 closed

[2018-09-20 12:04] JonasT commented on #62
I understand, but I'm not interested in running release candidates of syncthing (the core application, not the android frontend) since in the past they have proven quite unreliable, even including that one data loss bug that affected a lot of people and wasn't pulled out of the release candidate branch for days.

Another issue, the syncthing-fork would have separate settings, wouldn't it? I have a

[2018-09-20 12:04] Catfriend1 commented on #62
Side note @JonasT Synching fork has also a solution to https://github.com/syncthing/syncthing-android/issues/1228 . You can leave the service checkbox off and run conditions will be respected and monitored - even in the background - until you hit the exit button or android gets low on resources and kills the app forcefully.

[2018-09-20 12:06] JonasT commented on #62
I want it as a service that isn't stopped by Android (my phone isn't that beefy so things get stopped all the time), so that doesn't sound like something I would use. I am mainly looking for a "just stop doing things until next reboot" switch that doesn't change any of the other settings, which is what I would expect the "Exit" button to trigger *if* it was actually available with the service enab

[2018-09-20 12:06] Catfriend1 commented on #62
The battery eater is also fixed, see changelog.

[2018-09-20 12:07] JonasT commented on #62
Any ideas when at least the core syncthing version bump will go back into syncthing-android? (since for the reasons mentioned above, I don't feel like it's a good idea for me to switch to the fork)

[2018-09-20 12:10] Catfriend1 commented on #62
I'd suggest to try if the improved checkboxes and run conditions help you out. As it cant be done "against" android os nature, an exitable service cannot be implemented. On my phone, the service is active all the time and after things got fixed it doesn't drain one single percent of battery if run conditions don't apply.

[2018-09-20 12:13] Catfriend1 commented on #62
Sorry, merging upstream is currently not in a near time range but maybe in the future. This a long story...
You can install the fork as a separate app and importing your config is supported. But: be careful not to run both apps along at the same time, only one may run the other must stay exited.

[2018-09-20 12:17] JonasT commented on #62
Regarding the Exit issue / new checkboxes:

I'm not sure what else I should possibly try out or how that would change anything :man_shrugging:  (I don't really see how any of them are relevant since can already disable the service now, and running it over a longer time as a not-service simply isn't a very good idea on an Android phone with less memory usage, is it?)

Issues are prone to pop up in

[2018-09-20 12:19] JonasT commented on #62
Sorry, I forgot to ask something else: if I import my config into the syncthing fork, can I ever go back to `syncthing-android` / import it in the other direction? If yes, then I might actually give it a try, at least as a temporary alternative

[2018-09-20 12:27] JonasT commented on #62
Thanks, will do! And thanks a lot for your responses & help, that was extremely insightful

[2018-09-20 12:55] Catfriend1 opened #63 "[FR] Exit button that can disable service mode"
Quote from @JonasT

If you have issues with this fork, feel free to post them. I'll look into them if a good reproducer or log is provided.

### Description of the issue

### Reproducer

### Version Information
    App Version: 0.x.y
    Syncthing Version: v0.x.y
    Android Version: Android x.y / Cyanogenmod x / ...

### Android Log
    adb shell / logcat
    or MatLog (search on GitHub) output

[2018-09-20 12:55] Catfriend1 commented on #63
I'll implement that soon for clarification.

[2018-09-20 12:57] Catfriend1 commented on #63
Ref https://github.com/syncthing/syncthing-android/issues/1228

[2018-09-20 21:39] #63 closed

[2018-09-20 21:39] Catfriend1 commented on #63
@JonasT Stay tuned for the release, it's coming these minutes ...

[2018-09-20 21:52] Catfriend1 commented on #63
@KeyWeeUsr I've fixed the issue you've reported in https://github.com/syncthing/syncthing-android/issues/1223 in the forked version.

[2018-09-20 21:54] Catfriend1 commented on #63
@gdt I've fixed the issue as you suggested in the forked version.

want to be able to say "please shutdown now", being fully aware that it will start on next boot and deviate from the "run in background" config. I would be fine with a "syncthing is configured to run in the background - are you sure" popup.

[2018-09-20 21:55] Catfriend1 commented on #63
@Ondalf I've fixed the issue in the forked version.
Quote from @Ondalf on 24 Feb 2015 in https://github.com/syncthing/syncthing-android/issues/217

[2018-09-21 04:59] Catfriend1 commented on #44
Hi @rominail ,
Would you mind helping us to test the recent release of syncthing fork, receive folder support is already there.
Kind regards
Catfriend1

[2018-09-21 18:55] Catfriend1 commented on #57
Folder properties draft:
![image](https://user-images.githubusercontent.com/16361913/45900616-91214200-bde0-11e8-8502-13e6bf72d4ee.png)

Reference: https://forum.syncthing.net/t/selective-sync-for-syncthing-android/12048

[2018-09-21 18:56] Catfriend1 commented on #57
@Pazuu Do you like the above idea?

[2018-09-21 20:26] KeyWeeUsr commented on #63
Thank you for this, now I don't need to remember to turn in on, yet can stop it when my battery is dying, :100:

[2018-09-22 16:37] Catfriend1 commented on #44
Hi @Avamander
according to PR #67 I've fixed the bugs you've mentioned. But as you've gotten hit by a fundamental problem where libSyncthing.so cannot be found in the expected location I cannot fix the root cause for you as I suspect it's a problem with your specific android version.
The app will no longer request root if you did not enable the preference checkbox in the settings to do so.
If the

[2018-09-23 12:45] Catfriend1 commented on #57
Ok, I thought about this a lot ... I'm going for an implementation where every device and folder has a submenu "specify my sync conditions so I know when syncing this object's stuff is valid" e.g. Wifi with name  "HOME" for folders A,B and Wifi with name "FRIENDS" for device "FRIEND".. All in all, those options would be expert options, so a checkbox needs to be ticked in the settings to make them

[2018-09-23 17:15] Catfriend1 commented on #57
Draft:
![image](https://user-images.githubusercontent.com/16361913/45930823-fef67680-bf64-11e8-9ce2-0c3be1195a5c.png)

[2018-09-25 06:33] Catfriend1 commented on #57
Yes, thats intended.

[2018-09-26 19:38] arthurlutz opened #70 "Documentation / explanation of the reason this is a fork"
It would be nice to have some sort of explanation in the README or the fdroid description https://f-droid.org/packages/com.github.catfriend1.syncthingandroid/ about why there is a fork from the original project and what interactions there are to be expected with the original project.

[2018-09-27 04:26] hyiltiz commented on #70
Why not submit pull requests to the original one?

[2018-09-27 05:06] Catfriend1 commented on #70
There is already a description which improvements it offers on github and fdroid. If you look at the recent issues and discussion about my work and contributions you'll understand why.

[2018-09-27 05:06] #70 closed

[2018-09-27 05:07] Catfriend1 commented on #70
Major enhancements in this fork are:
UI explains why syncthing is running or not running according to the run conditions set in preferences.
A welcome wizard guiding you through initial setup on first launch or if mandatory prerequisites are missing like for example the storage permission.
Run condition bugs are fixed.
"Battery eater" problem is fixed.
Android 8+ support is on it's way.
Many bug f

[2018-09-27 05:17] hyiltiz commented on #70
I looked at your issues and there is only one mostly discussing logos and naming, but that still doesn't explain why pull requests aren't enough. You are perfectly eligible to create your own fork, of course, but a goal that separates your project from the original, not just some feature list, would be very helpful for users to understand what they should do.

[2018-09-27 05:30] Catfriend1 commented on #70
I dont want to sound like accusing anyone of anything cause I like the work of the original syncthing project and its developers ... Story short is I wanted to fix major bugs and fulfill feature requestes when I've time left for that. I've made a lot of PRs but the outcome wasn't "right" from my point of view.
Links:
https://forum.syncthing.net/t/syncthing-android-unofficial-beta/11920
https://for

[2018-09-27 23:12] phuyuk opened #71 "Thank You"
@Catfriend1 - Thank you very much for doing this. While I have used STA for several years, I have never felt comfortable recommending it to anyone. It's perpetually been in a state of 'never quite working right' - and sometimes worse. I have often said that STA is a crack-addicted elephant riding a unicycle on a high-wire; it eats too much, sweats a lot, and frequently falls over.

With respect to

[2018-09-28 15:09] hyiltiz commented on #70
After going through all those forums and the links they point to, it is still unclear to me which project to follow in order to get what (goal unclear), except that your fork seems to have unit tests and more frequent release cycle.

[2018-09-28 18:11] Catfriend1 commented on #70
"WE" will deine a more defined goal If more people joined.

[2018-09-28 18:54] Catfriend1 commented on #71
Thanks for your feedback on this. I'll do my best. For the next week I'm on vacation so coding will go on afterwards. Have fun with STA :)

[2018-09-29 13:49] TheBestTheBestTheBest commented on #71
Seconded, you Catfriend1 are the best thing that happened to the syncthing android development! Congratulations!!! Keep up the fantastic work!

[2018-10-01 20:40] jotake opened #73 "Stupid a rule remotely my device"
If you have issues with this fork, feel free to post them. I'll look into them if a good reproducer or log is provided.

### Description of the issue

### Reproducer

### Version Information
    App Version: 0.x.y
    Syncthing Version: v0.x.y
    Android Version: Android x.y / Cyanogenmod x / ...

### Android Log
    adb shell / logcat
    or MatLog (search on GitHub) output

[2018-10-02 11:39] #73 closed

[2018-10-02 20:55] Catfriend1 commented on #44
@leewdch A newer build is on this report providing a status tab to diagnose why synching is or is not running. Feel free to try it and if it doesn't work, open an issue here.

[2018-10-03 07:44] Catfriend1 commented on #44
@jessse4216 Does the current release from here fix the WiFi run condition issue?

[2018-10-03 10:40] jessse4216 commented on #44
@catfriend1 hi thanks, I tried both versions v0.14.51.rc4  and 0.14.51-rc.3 from this thread, still same problem. I select my home network that I am current on, then syncthing becomes disabled.

[2018-10-03 13:53] jessse4216 commented on #44
@Catfriend1 yes, that's it.  I had location turned off from the pull down drawer at the top.  Once I turned on, it worked.  I usually don't have location on however due to battery and privacy concerns. I do have the location permission on for syncthing on however.   Is there a way to work around it? I know in the app you have to use location services in order to get the wifi SSID.

[2018-10-03 14:05] leewdch commented on #44
I just found out I need to manually enable location in my privacy settings for this to work. Only granting locaiton permissions to syncthing without enabling location doesn't work. I also set location to work only on wifi and mobile data to save battery and it seems to work. I'll try now to exit the syncthing fork and repeat on the stable app to see if this solves the issue on stable as well

[2018-10-03 14:05] Catfriend1 commented on #44
@jessse4216 I've already looked for a workaround some weeks ago but didn't find a valid implementation. E.g. shell reading of the WiFi drivers assoc ssid is also blocked by Android when location is off. It seems to be a hard system restriction.

[2018-10-03 14:09] jessse4216 commented on #44
@Catfriend1 Thanks again. Is there another way to force syncthing to only send data on a local network? That is all I am really worried about in setting syncthing to just use my home wifi.

[2018-10-03 14:16] leewdch commented on #44
@jessse4216 you can manually disable location for all the apps but syncthing in `Settings > Apps & notifications > App permissions > Location` and set location to work on wifi/mobile data only in `Settings > Security & privacy > Location > Mode > Battery saving`

[2018-10-03 14:45] jessse4216 commented on #44
@Catfriend1 @leewdch Thank you both.

[2018-10-03 16:17] Catfriend1 commented on #44
@jessse4216 To restrict syncing data in the local network I suggest going to settings in the app> syncthing options > turn off relay, global discovery and nat traversal. So just local discovery is left on.

[2018-10-03 16:52] Exist2Resist commented on #71
Yeah, I wanted to say the same. It's working great now since I moved to the fork.

[2018-10-03 18:16] jessse4216 commented on #44
@Catfriend1 awesome thanks so much.

[2018-10-07 18:55] princekelly1 opened #78 "Documentation - Privacy policy document"
Hi,
I think an app such as this, needs a proper privacy policy document. Which I will be glad to draft one for the project, while I'm constant communication with you.
I await your response.

[2018-10-07 19:15] Catfriend1 commented on #78
Hi @princekelly1 ,
thanks for reaching out :). I think this is generally a good idea, I'm just a little bit unsure which repository is the right place for a privacy policy statement. The syncthing wrapper itself doesn't collect any data from the user so it doesn't send anything to any servers. But the point is, the upstream syncthing binary may or may not communicate with the syncthing.net servers

[2018-10-08 02:17] Catfriend1 opened #80 "startActivity called from non-Activity context"
### Reproducer
1. Start syncthing app.
2. Go to home screen.
3. Click the notification to get into MainActivity again.

### Version Information
    App Version: 0.14.51.3
    Syncthing Version: v0.14.51
    Android Version: Android 8.1.0 MIUI 10

### Android Log
    adb shell / logcat
    or MatLog (search on GitHub) output

[2018-10-08 03:01] #18 closed

[2018-10-08 03:01] #80 closed

[2018-10-08 13:44] Catfriend1 opened #82 "[FR] Advise users to let syncthing send data to local networks only"
Quote from @jessse4216 at https://github.com/Catfriend1/syncthing-android/issues/44#issuecomment-426741719

[2018-10-08 13:45] Catfriend1 commented on #44
@jessse4216 I've created issue #82 and will implement an in-app guide that helps users wanting the same like you to configure it correctly.

[2018-10-08 13:54] Catfriend1 opened #83 "[FR] Export/Import syncthing database"
### Description of the issue
When running export and import, the database should also be carried along optionally.

[2018-10-09 10:48] Catfriend1 commented on #16
![image](https://user-images.githubusercontent.com/16361913/46664531-95f83b00-cbc1-11e8-9bc3-e047517c31c6.png)

[2018-10-09 10:52] Catfriend1 opened #85 "Publish on F-Droid"
For reference:
![image](https://user-images.githubusercontent.com/16361913/46664714-16b73700-cbc2-11e8-826e-eb34e348a9d1.png)
![image](https://user-images.githubusercontent.com/16361913/46664712-10c15600-cbc2-11e8-9fd8-376734527c8c.png)
![image](https://user-images.githubusercontent.com/16361913/46664725-1f0f7200-cbc2-11e8-81ef-de6bc847d1c1.png)
![image](https://user-images.githubusercontent.com/1

[2018-10-09 10:52] #85 closed

[2018-10-09 10:53] Catfriend1 commented on #85
https://f-droid.org/wiki/page/com.github.catfriend1.syncthingandroid
https://f-droid.org/en/packages/com.github.catfriend1.syncthingandroid/

Recent build log:
https://f-droid.org/wiki/index.php?title=Special:RecentChanges&limit=250&hidebots=0

[2018-10-09 23:06] #83 closed

[2018-10-09 23:23] baranpirincal opened #86 "Logo Design"
Hey, I am graphic designer and my motivation is make my portfolio better by support open-source projects. I can design a logo for Syncthing Android if you interested.

I am waiting feedback from you.

Best Regards
Baran Pirinçal

[2018-10-10 00:16] #16 closed

[2018-10-10 10:20] baranpirincal commented on #86
@Catfriend1

Okay, I will work on that.

Firstly, we can start with welcome slide, main menu and icons. After that we can move on to other pages or details.

If you have an any idea, please share with me.

Have a nice day!

Best Regards
Baran

[2018-10-11 16:49] Catfriend1 commented on #62
@JonasT Sorry to correct you, but the fork currently uses 14.51 release in APK Version 4166, 4167.

[2018-10-11 16:53] JonasT commented on #62
Will it stay on stable versions of syncthing now? Sorry, maybe I saw this incorrectly, just seemed to be on release candidates at some point. If you're going to stick to stable mostly, then I'm definitely interested!

[2018-10-11 16:58] Catfriend1 commented on #62
I want to prioritize stable versions but rc's are good for me to adjust the wrapper before a stable release if API things change. You can always determine from my apologies release names which versions are rc and which ones are stable. E.g.
v0.14.51.(number) contains a stable syncthing core
v0.14.51.rc.(number) contains a release candidate syncthing core.
Both of them go to fdroid but you can free

[2018-10-11 18:25] Catfriend1 opened #88 "UTF-8 (emoji) replaced by "characters" when restarting"
Quote from @davidschlachter in https://github.com/syncthing/syncthing-android/issues/1234:

[2018-10-11 20:42] #88 closed

[2018-10-11 20:43] Catfriend1 commented on #88
@davidschlachter I've fixed the issue and will release this in the forked version shortly.

[2018-10-12 00:46] tnkdwp opened #90 "Hi @princekelly1 ,"
thanks for reaching out :). I think this is generally a good idea, I'm just a little bit unsure which repository is the right place for a privacy policy statement. The syncthing wrapper itself doesn't collect any data from the user so it doesn't send anything to any servers. But the point is, the upstream syncthing binary may or may not communicate with the syncthing.net servers (for update checki

[2018-10-12 04:57] Catfriend1 commented on #90
Duplicate

[2018-10-12 04:57] #90 closed

[2018-10-13 08:35] Catfriend1 commented on #78
Feel free to come back to this topic any time, then we can reopen it as soon as this is actively worked on.

[2018-10-13 08:38] Catfriend1 opened #91 "[FR] Add offline "Tips & Tricks" library"
A tip of the day should be available built into the app not requiring any internet connection.

Reason:
There is currently much nice-to-knows and need-to-know knowledge around which users helps setting up the android sync part correctly. This would reduce support requests and be comfortable for the users as they won't have to open a browser to look at the wiki.

Draft:
It should be a new action on

[2018-10-13 08:40] Catfriend1 opened #92 "[FR] Improve implementation of "Show all directories" (Android 4.x)"
### Description of the issue
Remove unnecessary shared pref - Show all directories - and make it default to enabled.

[2018-10-13 08:42] Catfriend1 opened #93 "[FR] Show percentage of used RAM on status tab"
Especially older devices have problems when syncthing core is using up too much memory. The user should be warned using a notification when RAM usage is too high related to the setup "how many data is being synced" as this triggers RAM usage.

[2018-10-13 09:54] #92 closed

[2018-10-14 14:30] Catfriend1 commented on #57
Hi,
the intermediate status is that I've completed the UI implementation. I will now work on the technical part to make per-folder sync conditions possible.

[2018-10-14 22:29] #57 closed

[2018-10-14 22:51] Catfriend1 commented on #57
The feature is implemented and released.
See #66 and https://github.com/Catfriend1/syncthing-android/releases/tag/v0.14.51.6 (release page).

[2018-10-16 05:58] Catfriend1 opened #97 "[FR] Recommend Simple File Manager If no compatible app was found."
Recommend Simple File Manager If no compatible app was found.
Thanks to @tibbi this works out of the box that synching Android opens the folders with his app - no code changes required. I'll put a recommendation into the app.

[2018-10-16 11:41] voidplayer opened #99 "Add information about the fork?"
When forks happens theres a few reasons:
- upstream is dead
- upstream doesnt want my patches ( they disagree with them / they just hate me)
- upstream is slow  with patches

A few details about a fork
- This fork (doesnt) rebase frecuently with upstream
- upstream is slow but im not trying to get them upstream and they eventually all my patches

this are the biggest changes: (i think this is done

[2018-10-16 15:47] Catfriend1 commented on #99
Hi the Problem why I'm not stating how to get in sync with the upstream again is I don't know if they agree with a) patches and b) development of enhancements or c) my strategy which lead to a lot of discussion in the past on the official repo. Currently, I'm waiting to see which patches they take from me which is perfectly ok for the official repos maintainer(s) to merge upstream from my side. A

[2018-10-16 15:50] Catfriend1 commented on #99
More discussion, info and "reasons" are here : https://forum.syncthing.net/t/folder-creation-broken-in-android-app/11885/2

[2018-10-16 18:29] Catfriend1 commented on #99
Related:
https://github.com/Catfriend1/syncthing-android/issues/48

I'll adjust the text of the fork explanation soon, just gimme a little bit of time... 🙂

[2018-10-17 12:53] voidplayer commented on #99
Thanks for working on this!!

[2018-10-17 16:36] Catfriend1 commented on #44
@schmendrik Would you mind trying the forked version to make sure we don't talk about a problem I've already solved. Upstream is unfortunately far behind Android 8+ compatibility while the fork doesn't have enough users to prove my fixes working.

[2018-10-17 17:58] schmendrik commented on #44
@Catfriend1 Of course, I'll test it. Do I need to backup my current settings, if so how? Don't want to re-setup everything for and after the testing.

[2018-10-17 18:14] Catfriend1 commented on #44
Yes, please backup under the preferences screen in the official syncthing app. This backup can be imported by pulling the drawer and selecting "import and export" in the forked version.

[2018-10-17 18:43] schmendrik commented on #44
@Catfriend1 Your fork runs perfectly fine. My [issue](https://github.com/syncthing/syncthing-android/issues/1193#issuecomment-430051051) is gone. One thing though:

![screenshot_2018-10-17-20-23-55](https://user-images.githubusercontent.com/15148632/47108698-9e4d1780-d24c-11e8-876a-de7f44c034d3.png)

It's been a long time since I've (re)-installed syncthing. As you can see, the text goes well belo

[2018-10-17 20:30] schmendrik commented on #44
Interestingly enough, with your version, I've only lost 1% battery so far, whereas the previous (official) version would have consumed about 30 to 50% by now. To be sure, I'll have to wait and observe over the course of a few weeks. There is one more stress test that I will be conducting in a few days.

[2018-10-17 20:53] Catfriend1 commented on #44
@schmendrik Thanks for reporting back. I made the "ignore battery optimizations" mandatory for technical reasons. This is a long story starting out with Android 6+ and requires reading a lot through the docs to understand how Google designed Android and changed behaviour across versions. It doesn't harm your battery granting it but if anything goes wrong within the syncthing binary your battery wi

[2018-10-18 05:29] Catfriend1 commented on #44
@MartinX3 Regarding your problem with the battery eater, would you mind trying the forked version as I don't have Android 9 yet. Many root pop-ups look okay so far because the wrapper needs to use the Shell frequently. You can also write to sdcard without root but only to special paths, the forked version has a guide suggesting this special path while you are able to try other paths and the UI sho

[2018-10-18 09:01] MartinX3 commented on #44
@Catfriend1
I installed it, made a new directory to share and choose the path on SDCard.
Sadly there was no guide and it is telling me, that it can't write.

[2018-10-18 12:50] Catfriend1 commented on #44
@MartinX3 okay. What you describe is the Android restriction. We cannot fix this, I'm sorry.

[2018-10-18 15:59] Catfriend1 commented on #44
It has technical reasons, go binaries cannot write as they cannot use the Java api Android enforced since 4.4

[2018-10-18 16:00] MartinX3 commented on #44
Thank you for this explanation. :)

So maybe you want to use a Abstraction Layer?
A Helper Routine in Java?

[2018-10-18 16:28] Catfriend1 commented on #44
Ahem.... Yes, but I don't consider this my task even though it my be possible and there is already an existing bounty for that. Many people previously discussing this already stated they consider this a LOT of work. You also need people on the other side (so syncthing Android and syncthing core) that work together for an interface between go and Java.

[2018-10-18 16:31] MartinX3 commented on #44
Yes of course, that's right.

On the other site slows the root this app and my system down, or the "root" message is the cause.
And more people will accept this app, because not every one is willing to give this app root privileges.

So I hope it may happen in the future. :)

[2018-10-18 16:31] Catfriend1 commented on #44
In the meantime, it always works syncing to /storage/xxxx-yyyy/Android/data/com.github.catfriend1.syncthingandroid/files as Android allows read write a ccess there. More about this is described in the wiki.

[2018-10-18 16:32] MartinX3 commented on #44
Yes, I forgot this aspect. Thank you! :)

[2018-10-18 16:36] MartinX3 commented on #44
Btw, I can't changed the standard folder path for new folders.
I changed it in the web interface, but it doesn't change in the app itself.

[2018-10-18 17:02] Catfriend1 commented on #44
We should file this as a separate issue and see if the default path can be made the same.

[2018-10-20 19:53] schmendrik commented on #44
@Catfriend1 Are the custom sync conditions per folder not working? I can't activate any sync conditions other than "Run on WiFi". They are disabled/greyed out.

[2018-10-20 21:08] Catfriend1 commented on #44
@schmendrik The new per folder / per device run conditions still need to prove outside my test lab and own use cases, they are part of a possible future transition to "pause/unpause folders/devices" instead of "globally" starting and stopping syncthing. I agree the UI is not best now, it is planned to improve it at later milestone. I'm waiting for user feedback first regarding
a) battery usage (fu

[2018-10-21 10:59] #97 closed

[2018-10-21 11:06] Catfriend1 opened #100 "[Bug] Welcome wizard texts are too big and overflow"
### Description of the issue
Quote from @schmendrik at ( https://github.com/Catfriend1/syncthing-android/issues/44#issuecomment-430743225 ).

### Reproducer
Let the welcome wizard run (again).

### Version Information
    App Version: 0.14.51.7 and below

[2018-10-21 11:08] Catfriend1 commented on #33
Quote from https://github.com/Catfriend1/syncthing-android/issues/44#issuecomment-430777513

[2018-10-21 11:11] Catfriend1 opened #101 "[FR] Use default folder path given in config.xml"
Reported by @MartinX3 at ( https://github.com/Catfriend1/syncthing-android/issues/44#issuecomment-431078174 ):

- Use default folder path given in config.xml
- Preconfigure the default folder path to "/storage/emulated/0" or "/storage/xxxx-yyyy/Android/data/com.github.catfriend1.syncthingandroid/files"

[2018-10-21 18:50] #91 closed

[2018-10-21 19:03] Catfriend1 commented on #82
@jessse4216 Fixed by PR #102 ( referring to issue #91 ), PR #66 ( referring to issue #57 ) and PR #96 .

[2018-10-21 19:03] #82 closed

[2018-10-22 05:55] Catfriend1 opened #103 "Looking for translators"
Hi together!

I'd appreciate any help in doing the translations for Syncthing-Fork as I'm currently working on English and German translations. If you like to assist the project providing translations for "your language", please chime in here and tell me your account name on Transifex. The project is located here (as mentioned in the Wiki):
https://www.transifex.com/catfriend1/syncthing-android-1

[2018-10-22 05:55] Catfriend1 opened #104 "Looking for translators"
Hi together!

I'd appreciate any help in doing the translations for Syncthing-Fork as I'm currently working on English and German translations. If you like to assist the project providing translations for "your language", please chime in here and tell me your account name on Transifex. The project is located here (as mentioned in the Wiki):
https://www.transifex.com/catfriend1/syncthing-android-1

[2018-10-22 05:56] Catfriend1 opened #105 "Looking for translators"
Hi together!

I'd appreciate any help in doing the translations for Syncthing-Fork as I'm currently working on English and German translations. If you like to assist the project providing translations for "your language", please chime in here and tell me your account name on Transifex. The project is located here (as mentioned in the Wiki):

Kind regards
Catfriend1

[2018-10-22 05:58] Catfriend1 opened #106 "Test"
Test

[2018-10-22 05:59] Catfriend1 commented on #106
Test

[2018-10-22 19:03] #104 closed

[2018-10-22 19:03] #105 closed

[2018-10-22 19:03] #106 closed

[2018-10-23 05:32] Catfriend1 opened #108 "IllegalStateException: Fragment already added"
### Description of the issue

### Reproducer

### Version Information
    App Version: 0.x.y
    Syncthing Version: v0.x.y
    Android Version: Android x.y / Cyanogenmod x / ...

### Android Log
    adb shell / logcat
    or MatLog (search on GitHub) output

java.lang.IllegalStateException: Fragment already added: DeviceListFragment{6c7fa09 #9 id=0x7f0900b0}
	at android.support.v4.app.FragmentMana

[2018-10-23 06:07] Catfriend1 commented on #108
This happens very rarely and cannot be reproduced at the moment. See https://issuetracker.google.com/issues/36956111

[2018-10-23 08:28] cdrfun commented on #57
Really nice work!
I had some time to test today, and here is what I've found. (If needed I'll create a separate issue(s)). Some if my labels might not be correct, because I'm using the German version. I use numbers for better referencing, not to indicate any importance:

1. Folder-Sync condition Start at selected Wifi can't be activated when a option page for an folder is opened where start with w

[2018-10-23 08:37] Catfriend1 commented on #57
Thank you for your detailed feedback ! @cdrfun
Please tell me which APK version / release you used for testing this. I guess (1) is already fixed by 0.14.51.8+?

[2018-10-23 08:41] cdrfun commented on #57
Doh, my bad. I've used the last released apk version: Syncthing v0.14.51.8 / 4171

[2018-10-23 17:20] Catfriend1 commented on #103
@Rakleed Hi, wanna help me on this ?

[2018-10-23 17:22] Catfriend1 commented on #44
@Rakleed Hi, I've fixed the file manager stuff since the last two releases and also the folder creation stuff. Would you mind trying the forked version and feedback?

[2018-10-23 17:45] Catfriend1 commented on #57
@cdrfun I'll take the other points on my development plan. Will take some time but definitely is where I want to get in the future to transition over to the new run conditions without global vs. object mismatches.

[2018-10-23 19:47] Catfriend1 opened #110 "Enhancement request for per-folder(device) sync conditions"
Quote from @cdrfun at ( https://github.com/Catfriend1/syncthing-android/issues/57#issuecomment-432148444 )

I had some time to test today, and here is what I've found. (If needed I'll create a separate issue(s)). Some of my labels might not be correct, because I'm using the German version. I use numbers for better referencing, not to indicate any importance:
1. Folder-Sync condition Start at selec

[2018-10-23 19:50] Catfriend1 commented on #110
@cdrfun As stated in the other issue > added to my development plan. :)
v0.14.51.8 / 4171 should have point (1) fixed already. I did find another UI glitch that does not impact functionality if you enable "sync on wifi" and "wifi whitelist" was disabled before, the wifi SSIDs must be re-enabled manually by toggling each SSID to enabled. So far I didn't find a reproducer that leaves some switch gre

[2018-10-23 20:35] Rakleed commented on #44
@Catfriend1 still the same mistake.
Log: [2018-10-23-23-33-56.txt](https://github.com/Catfriend1/syncthing-android/files/2507926/2018-10-23-23-33-56.txt)

[2018-10-23 20:46] Catfriend1 commented on #44
@Rakleed ok, I can take care of fixing this. What Android ROM , version and device manufacturer , model are we talking about here?

[2018-10-23 21:07] Catfriend1 commented on #103
@Rakleed accepted :)

[2018-10-23 21:10] Rakleed commented on #44
LineageOS 15.1, Android 8.1.0, OnePlus 3.

[2018-10-23 21:10] Rakleed commented on #44
@Catfriend1 LineageOS 15.1, Android 8.1.0, OnePlus 3.

[2018-10-23 21:23] Catfriend1 opened #111 "When I try to select a folder on the device, the application crashes"
Quote from @Rakleed at ( https://github.com/Catfriend1/syncthing-android/issues/44#issuecomment-432409474 )

10-23 23:34:04.595 E/AndroidRuntime(20068): FATAL EXCEPTION: main
10-23 23:34:04.595 E/AndroidRuntime(20068): Process: com.github.catfriend1.syncthingandroid.debug, PID: 20068
10-23 23:34:04.595 E/AndroidRuntime(20068): android.content.ActivityNotFoundException: No Activity found to handle

[2018-10-23 21:33] Catfriend1 commented on #111
@Rakleed Can you please test this build and tell me if it solves your problem?
https://drive.google.com/file/d/1K9JSsrQYkUE3ZAbsOaPMmNF86AKMSftY/view?usp=sharing

[2018-10-24 06:42] Catfriend1 commented on #108
Please see debug build in PR #113 and report back if it solves this issue.

[2018-10-25 06:00] Catfriend1 commented on #111
Does the test build run on your phone so you can select paths again @Rakleed ?

[2018-10-25 09:55] Rakleed commented on #111
@Catfriend1 sorry, I almost forgot to answer.

Yes, it works now.

But there are a few questions:
1. Why so many ways? I would leave only / storage / emulated / 0 (or immediately give the user the opportunity to select a folder along this path). And if the application is granted root access, then you can also add the path /.
2. And what does this message appear below? What does it mean?
<details><

[2018-10-25 10:41] cdrfun commented on #110
In v0.14.51.8 / 4171 I can definitely reproduce (1). I'll have a look again when the next apk is released.

I'd like to suggest another enchantment request:

6. Make battery options available in Folder-Sync conditions.

[2018-10-25 14:19] Catfriend1 commented on #111
It's an Android limitation. This is the old dialog just being in the code for Android 4.x users. I will not improve it as it's deprecated. All new phones should have the SAF file picker from Android, sorry for the glitch but it's caused by your manufacturer and using the old dialog code as fallback is just a dirty help instead of nothing. For that reason I think it was why the official project did

[2018-10-25 14:19] #111 closed

[2018-10-25 14:56] Catfriend1 commented on #110
Ok noted. Thanks for checking again.

[2018-10-25 16:06] Catfriend1 commented on #111
Rereading this: emulated/0 is not the only path in Android's history where you can find to your sdcard or intsdcard path. If there was a big username still relying on Android 4.x maybe I'd touch the code one day again... Until then, PR's for FolderPickerActivity are also welcome.

[2018-10-27 09:16] Catfriend1 commented on #86
@baranpirincal Hi, would you like to make to suggestion of a new logo, perhaps something according to the idea phuyuk posted?

[2018-10-27 12:43] Catfriend1 commented on #110
@cdrfun How do you reproduce (1)?
Me:
![image](https://user-images.githubusercontent.com/16361913/47604211-92a0e400-d9f6-11e8-9f0d-927d6966a208.png)
=>
![image](https://user-images.githubusercontent.com/16361913/47604214-9896c500-d9f6-11e8-9c64-e626faddf44a.png)
=>
![image](https://user-images.githubusercontent.com/16361913/47604218-9cc2e280-d9f6-11e8-9e79-699b667d9c88.png)
=>
![image](https://use

[2018-10-27 13:12] Catfriend1 commented on #110
Note: (3) was fixed in PR #114

[2018-10-27 13:37] Catfriend1 commented on #110
Long-term improvment noted: (2) + (4)

[2018-10-27 14:47] Catfriend1 commented on #108
New release containg the fix: v0.14.51.11

[2018-10-27 14:47] Catfriend1 commented on #111
New release containg the fix: v0.14.51.11

[2018-10-27 14:47] Catfriend1 commented on #110
New release containg the fixes for (1) + (3): v0.14.51.11

[2018-10-28 12:57] Catfriend1 commented on #44
@blaueente Would you mind to try the forked version and report back if your problem regarding the root processes is solved? https://github.com/Catfriend1/syncthing-android/releases

[2018-10-28 13:03] blaueente commented on #44
Thanks for the hint! I will try this, but it might take some time. I'd prefer the F-droid version, if you don't mind (still v0.14.51.10 / 4173)

[2018-10-28 13:05] Catfriend1 commented on #44
@blaueente No problem, head to F-Droid and grab v0.14.51.10 as I didn't change anything related to your problem in 4174.

[2018-10-28 14:12] Catfriend1 opened #117 "Recent global changes UI"
Feature Request:
Recent global changes UI should be added to the drawer.

[2018-10-28 21:46] #117 closed

[2018-10-29 09:21] cdrfun commented on #110
Great work 👍
Just to keep track I'll list the remaining issues:

2. Currently folder sync conditions can only limit the folders sync conditions compared to the global conditions. I understand that it is good to have some kind of a global limit. But this puts the user in a tricky situation when he wants one folder to "always sync". He has to max out the global conditions and limit all folders bit t

[2018-10-31 07:39] Catfriend1 commented on #99
Ok changing the readme here is not a big deal. I guess I need to file a PR on fdroid as they don't update the readme automatically according to GitHub.

[2018-10-31 11:29] voidplayer commented on #99
Thanks!

Just think on the end user that faces two similar named syncthing clients and dont know which one to install...

Now that i know the story, i think i like yours much better! (never tried the original tho)

[2018-11-01 07:54] Catfriend1 commented on #99
Hi @voidplayer
Could you please have a look at PR #120 and tell me if this fulfills your request in your eyes?

[2018-11-01 10:47] voidplayer commented on #99
Commented on the pull

Thanks for improving this!!

[2018-11-03 18:10] Catfriend1 commented on #108
[2018-11-03-11-18-06_sync.zip](https://github.com/Catfriend1/syncthing-android/files/2545235/2018-11-03-11-18-06_sync.zip)
This problem hit me again.
Reproducer (from my memory):
- Open syncthing when run conditions apply (Sync on WiFi)
- Let it stay open on "Folders" tab
- Switch the phone's screen off
- Wait 20 minutes
- Leave WiFi, so "run conditions" do no longer apply
- Wait 2 minutes
- Put t

[2018-11-03 19:13] gradha commented on #19
Tried to install `com.github.catfriend1.syncthingandroid_4176_0.14.51.13_8b15993.apk`, but after the wizard finished I only got a "starting syncthing" which hanged up the UI, I could only wait, and after a while a dialog would allow to keep waiting or close the app. Other attempts to open the app showed only a black screen and nothing going on…

[2018-11-03 19:19] gradha commented on #19
Ah, maybe the problem was that the upstream syncthing was running. After killing all syncthing instances I started the fork and it worked. Did look at the ignore patterns option, but I don't know how to _save_ the state. When I touch the line it shows an inline editor, but it seems that it goes off screen, so after typing I can only press back, which doesn't seem to save the contents (when I go in

[2018-11-03 19:20] Catfriend1 commented on #19
Ok that's unexpected. Did you have another syncthing for example syncthing official app running because then it waits until resources were freed by the official app . Restarting the phone before opening fork app might help there. If it doesn't help, can you please run matlog app to capture a verbose log of the forked app startup?

[2018-11-03 19:50] gradha commented on #19
Indeed, the trick is to touch another option, then it is saved. _Tricky_.

https://imgur.com/a/l3c0jac

[2018-11-05 09:59] Catfriend1 commented on #44
@noodle- could you please try and confirm if the battery eater problem is solved in the forked version ? It's available here and on fdroid.

[2018-11-05 11:42] Catfriend1 commented on #44
Yes , it still applies, but it's no longer RC and can be considered stable: https://github.com/Catfriend1/syncthing-android/releases/tag/v0.14.51.13

[2018-11-05 12:14] Catfriend1 commented on #19
Hi @ruudschouten just read your ticket and like to let you know that this problem is already fixed in syncthing fork. Would be glad to have your feedback on the new feature to edit ignores without an external app.

[2018-11-05 12:45] schmendrik commented on #44
I've updated to 0.14.51.13 a few days ago and haven't run into any issues (so much for my testing).

@Catfriend1, what is updating syncthing-android going to look like in the future? Will it be merged into offical syncthing-android at some point? I'm really thankful for your build by the way and wouldn't mind updating manually. I'm just glad I have a stable syncthing android app running on my phon

[2018-11-05 17:50] Catfriend1 commented on #44
Hi @schmendrik ,
at the time of writing this I cannot tell where syncthing-android official is going to. I've noticed that my access to the gplay error report console was revoked last night, wrote to the core team what happened and that was justified because I quit the official repo in August. To not harden the fronts further, I contacted calmh who moved this discussion to private on the forum and

[2018-11-05 17:57] Catfriend1 commented on #111
@ruudschouten Hi! Sorry I referred you to the wrong issue before, this is the issue and fix for your problem. Would you like to try the latest release and report back if your issue is solved?
https://github.com/Catfriend1/syncthing-android/releases/download/v0.14.51.13/com.github.catfriend1.syncthingandroid_4176_0.14.51.13_8b15993.apk

[2018-11-05 20:44] schmendrik commented on #44
@Catfriend1 thank you for explaining the situation.

It's true, the official syncthing-android app has been slow going to say the least. Whoever is in charge of it, I feel like their update cycle is bad they should feel bad. It rendered my syncthing app entirely useless on my phone using Android 8.0. So yeah, I think I'l try the F-Droid option from now on.

[2018-11-06 07:42] Catfriend1 commented on #108
Reproducer updated.

[2018-11-06 18:12] Catfriend1 opened #122 "[QA] - Syncthing core 0.14.52"
Hi together,

I need your help on this. As the android app "Syncthing-Fork" is only a wrapper for the syncthing core binary which is built from the upstream repo located at https://github.com/syncthing/syncthing/releases . As this question often has been discussed, I *CAN* include the most recent version of syncthing-core, at time of writing this, 0.14.52, and after 10 minutes of work we would hav

[2018-11-06 18:14] Catfriend1 commented on #122
*Building test APK for Syncthing 0.14.52 ...*

[2018-11-06 20:57] noodle- commented on #44
@Catfriend1 I installed your fork through F-Droid, not sure whether the issue is completely gone yet. There was some suspicious CPU usage before rebooting, but after that, and testing again it's looking good!

I just quickly tested the basics, I'll just put it through normal use the following day(s) and report back. :)

[2018-11-07 09:58] noodle- commented on #44
![cpu](https://user-images.githubusercontent.com/812565/48123952-77966580-e27b-11e8-813a-99223ff220d1.png)

So this morning my phone was not charging (anymore) and thus syncthing disabled, but there was still constant CPU usage for the next few hours (about 3?) till I restarted my phone again.

After restarting my phone I enabled syncthing to start without being charged and disabled syncthing agai

[2018-11-07 19:31] Catfriend1 commented on #44
Hi @noodle-
Thanks for your feedback on this. Battery usage is hard to analyse but I'll do my best contacting you when I have a new idea what it could be.  Which Android device and version are you running? If you like to help me Analyse this deeper, I'd suggest rebooting the phone with the official syncthing option "start automatically on boot" disabled. To narrow it down, consider turning off the

[2018-11-07 21:54] Catfriend1 commented on #103
Meanwhile we got more translators on the boat which didn't apply by writing here. Thank you for your great work and supporting Syncthing-Fork :-)! I'll make a release containing updated translations in ~ a week.

[2018-11-08 10:07] Catfriend1 commented on #103
Team, please be careful when translating arrays. Either translate all strings of the array or none because partly done translations lead to compile errors. Thank you.

[2018-11-11 05:17] Catfriend1 commented on #44
Hi @jsmith037982374
I saw your post regarding the keyboard popup. Can you please try and report back if the problem is solved in the current release version of the fork? I fixed this some days ago.
Kind regards
Catfriend1

[2018-11-11 17:35] jsmith037982374 commented on #44
@Catfriend1 yes, it looks like the problem is solved in the latest version of the fork! I am new to using syncthing, but I will switch over to using your client for android; thanks for your efforts!

[2018-11-13 17:50] jelmer opened #125 "Suggested file manager app is deprecated"
Synching-Fork suggests installing the Simple File manager, but that app is deprecated.

See https://play.google.com/store/apps/details?id=com.simplemobiletools.filemanager&hl=en_GB

[2018-11-13 18:04] Catfriend1 commented on #125
Yes I noticed that. I'll wait till I know if tibbi keeps the fdroid version. From my point of view, he's doing a perfect work but suggesting a paid app in the syncthing fork and putting this "ad" to fdroid seems wrong to me. Currently, the free version still works and the decision can take a little. If it's reasonable, I'll update the link then. Thanks for reporting it.

[2018-11-17 19:22] sivaraam opened #126 "Onboarding screen doesn't look well in smaller screens"
### Description of the issue
The onboarding screen is a nice thing to have which is missing in the official android app. It could be made a little more better on smaller screens. The following is how it looks on a 4.3" screen:

![screenshot_2018-11-17-00-47-37](https://user-images.githubusercontent.com/12448084/48664891-e79eba00-eacb-11e8-93c0-74333bd5886a.png)

### Reproducer
1. If already instal

[2018-11-17 21:09] Catfriend1 commented on #126
Thanks for reporting this issue. Can you help on this by filing a PR or should I take care of it when I'm next time in Android studio?

[2018-11-17 21:10] Catfriend1 commented on #125
Simple file manager pro arrived on fdroid, btw. I'm still unsure if we should link that.

[2018-11-19 21:51] Catfriend1 opened #127 "build: add gradle.properties to select java version 8"
https://github.com/syncthing/syncthing-android/commit/61e45362ab3c6e7a6a927c142748666eaef49393

[2018-11-20 06:35] Catfriend1 commented on #127
https://www.infoq.com/news/2018/05/gradle-releases-version-4.7

[2018-11-20 22:35] Catfriend1 commented on #100
Duplicate of https://github.com/Catfriend1/syncthing-android/issues/126

[2018-11-20 22:35] #100 closed

[2018-11-20 22:36] Catfriend1 commented on #86
I'll reopen this as soon some one starts work in here and yells...

[2018-11-20 22:36] #86 closed

[2018-11-20 22:38] Catfriend1 commented on #13
Personal Dev note: I need to do this after refactoring ConfigXml module.

[2018-11-20 22:39] Catfriend1 commented on #110
Personal Dev note: I need to do this after refactoring ConfigXml module.

[2018-11-23 07:35] #99 closed

[2018-11-23 07:40] #127 closed

[2018-11-23 07:41] #122 closed

[2018-11-23 07:41] #103 closed

[2018-11-23 07:41] #71 closed

[2018-11-29 06:19] Catfriend1 commented on #101
@martin-sweeny
Hi, I think this is related to your issue. Just use /storage/emulated/0 . It should solve your problem.
Kind regards

[2018-11-29 06:44] Catfriend1 opened #130 "Recommend a compatible FOSS text editor app in Tips&Tricks"
Quote from @Sjdennis
`If I try opening thisfile.txt from the “recent changes” menu, in QuickEdit I just end up with a new blank “untitled” file. In turboeditor I get an error “No content provider: /filepath/thisfile.txt”. This appears to be a completely separate issue however, probably just a glitch with the “recent changes” menu itself.
I have no problems opening these files in any other way, I j

[2018-11-29 07:28] Catfriend1 opened #131 "Create .stfolder and DO_NOT_DELETE.txt within it to prevent automatic cleanup of empty directories"
Quote from @slashbeast
 at https://github.com/syncthing/syncthing-android/issues/1249 :

It would be nice to have an option in Syncthing for Android to create any non-empty file in .stfolder for the sake of cleaners.

[2018-11-29 07:29] Catfriend1 commented on #131
I would make the workaround default when Xiaomi MIUI ist detected.

[2018-11-29 21:52] Catfriend1 commented on #125
Okay, the app is available on both stores: F-Droid and GPlay. Seems like Tibor Kaputa kept the F-Droid flavour. Links:
- https://f-droid.org/de/packages/com.simplemobiletools.filemanager.pro/
- https://play.google.com/store/apps/details?id=com.simplemobiletools.filemanager.pro&hl=en_GB
So green light for a link update.

[2018-11-29 22:06] #125 closed

[2018-11-29 22:16] Catfriend1 commented on #125
New Release: https://github.com/Catfriend1/syncthing-android/releases

[2018-12-06 23:51] Catfriend1 commented on #130
@sjdennis I've just noticed there is a new app on F-Droid called "Editor". Tried it on my phone but unfortunately it crashes when trying to open a text file from Syncthing Recent Activities List.

[2018-12-07 10:20] danhawkes opened #136 "How do I migrate from the original version?"
I'd like to try this out, but have a mostly working setup with the 'official' syncthing and don't want to break it if this fork doesn't work for me.

What's the migration process? Can I migrate back?
It'd be good to have some info about this in the readme.

[2018-12-07 11:37] Catfriend1 commented on #136
At the moment, export and import are compatible, so you can just export in official and import in fork. I don't know how long this will be like this but for now it's easy. Migrating back works, too.

[2018-12-07 11:37] #136 closed

[2018-12-07 17:56] Catfriend1 commented on #136
Are you happy with the fork?

[2018-12-13 07:45] Catfriend1 opened #137 "[FR] Add debug option to fallback to http"
... as some Android 4.4 do not support TLS 1.2.
Maybe falling back when an old android version is detected may be also a good idea.
Quote from @bbaserdem in https://github.com/syncthing/syncthing-android/issues/1255

W/SyncthingNativeCode(7710): <DATE> http: TLS handshake error from 127.0.0.1:xxxxx: tls: client offered and unsupported, maximum protocol; version 300
W/SyncthingNativeCode(7710): <DA

[2018-12-13 07:45] Catfriend1 commented on #137
Source: https://github.com/syncthing/syncthing-android/issues/1255

[2018-12-13 20:10] Catfriend1 commented on #137
Hi @bbaserdem,

I've been working to fix the issue you've recently reported on Android 4.x regarding the missing TLS 1.2 support in the android OS.
Could you please try and provide feedback if the following APK solves your problem? (Export and import of data is supported if you need it)
It contains the most recent release code of the fork plus the TLS 1.2 fix to fall back to http. Syncthing core i

[2018-12-13 21:46] bbaserdem commented on #137
Thank you, I am away from my tablet but will test it this weekend.

[2018-12-15 19:40] Catfriend1 commented on #137
Cool, if it works I'll make a new release to help users having the same problem.

[2018-12-16 07:58] phuyuk opened #139 "0.14.53.1/54.1 Hangs on 4.4.2 Kitkat"
4.4.2 Kitkat
ST Versions: 0.14.53.1 & 0.14.54.1

After upgrading to either 0.14.53.1 or 0.14.54.1, my Kitkat phone stuck forever at "Syncthing is starting", along with hot battery.

Strictly speaking, the wrapper isn't hanging, since I'm still able to, for example, open settings. 'Start directly into web GUI' results in similarly endless "Waiting for GUI".

This occurs even after fresh (re)install

[2018-12-16 08:20] Catfriend1 commented on #139
Duplicate of https://github.com/Catfriend1/syncthing-android/issues/137 .
Hi @phuyuk,
Can you please test if the apk from the linked issue solves the problem?
Kind regards

[2018-12-16 08:38] phuyuk commented on #139
0.14.54.2 debug seems to have resolved the issuee.

Thank you.

[2018-12-16 09:38] Catfriend1 commented on #139
I'll make a release. Thanks for your feedback! :-)

[2018-12-16 09:44] #137 closed

[2018-12-16 09:44] #139 closed

[2018-12-16 09:57] Catfriend1 commented on #137
@bbaserdem Please refer to the release page
https://github.com/Catfriend1/syncthing-android/releases/tag/v0.14.54.2

[2018-12-16 10:07] Catfriend1 opened #140 "EditIgnores - Content is only saved when touching another option"
EditIgnores - Content is only saved when touching another option before exiting the folder EditIgnores dialog.

### Description of the issue
Details: See #19

### Reproducer
Reported by @gradha https://imgur.com/a/l3c0jac

### Version Information
    App Version: 0.14.51+

[2018-12-16 10:07] #19 closed

[2018-12-16 13:56] Catfriend1 commented on #110
So, I'm still on it figuring out a better implementation which can handle the per folder/device sync in a "whitelist thinking" manner. The first (great) piece of work is nearly done, as now, the wrapper is able to write the correct folder/device paused (or not paused) state into the config directly when syncthing is not running. This make it more streamlined as it before had to start the sync core

[2018-12-16 19:49] danhawkes commented on #136
@Catfriend1 Been using for about a week without issue, so seems good. Thanks for all your work on the project!

[2018-12-17 02:07] bbaserdem commented on #137
The problem is resolved! Thank you!

[2018-12-18 09:49] Catfriend1 commented on #101
@MartinX3 @martin-sweeny What does your Web UI on the phone show when you open the Create Folder Dialog?
Mine automatically shows the correct path:
![image](https://user-images.githubusercontent.com/16361913/50145794-9e9c7a00-02b2-11e9-92d2-c1168776a32a.png)

[2018-12-18 09:58] Catfriend1 commented on #101
I changed the path manually on the web UI to the path printed above (/storage/emulated/0) and it was saved correctly to config.xml in app's private directory. (tested on Android AVD 9.x)
![image](https://user-images.githubusercontent.com/16361913/50146324-ca6c2f80-02b3-11e9-98f9-099e71ef4e8a.png)
You can verify using this command:
adb shell "su root cat /data/data/com.github.catfriend1.syncthingan

[2018-12-18 10:00] Catfriend1 commented on #101
Restarted syncthing > the setting is still persisted in the config.
Restarted the app > the setting is still persisted in the config.
Please tell me a reproducer or post a screen record as I don't know what to fix here. I'll reopen the ticket then.

[2018-12-18 10:00] #101 closed

[2018-12-18 10:05] Catfriend1 commented on #101
Ohhh wait. I've found the reproducer for your problem. The model was out of date, so if you changed something on the wrapper UI afterwards, the defaultFolderPath was reverted back to "~" by accident.
It will be fixed in one of the next releases.

[2018-12-18 10:58] Catfriend1 opened #141 "NPE crash after key and config regeneration"
### Version Information
    App Version: v0.14.54
    Syncthing Version: v0.14.54

### Android Log
`2018-12-18 11:51:37.314 14256-14256/com.github.catfriend1.syncthingandroid.debug E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.github.catfriend1.syncthingandroid.debug, PID: 14256
    java.lang.StringIndexOutOfBoundsException: length=0; index=7
        at java.lang.String.substring(String

[2018-12-18 11:01] Catfriend1 commented on #141
https://github.com/Catfriend1/syncthing-android/commit/88d2226eb4f9669dbd427da6fe444c39ec9925af

[2018-12-18 11:01] #141 closed

[2018-12-18 11:38] Catfriend1 opened #142 "Crash - Can't create handler inside thread Thread[AsyncTask] that has not called Looper.prepare"
### Description of the issue
Introduced while working on PR #135 "Refactor ConfigXml"

### Android Log

2018-12-18 12:06:30.375 14809-15221/com.github.catfriend1.syncthingandroid.debug V/SyncthingService: importConfig END
2018-12-18 12:06:30.376 14809-15221/com.github.catfriend1.syncthingandroid.debug V/SyncthingService: Starting syncthing
2018-12-18 12:06:30.376 14809-15221/com.github.catfriend1.

[2018-12-18 11:39] Catfriend1 commented on #142
Solved by commit #https://github.com/Catfriend1/syncthing-android/pull/135/commits/73c50172180fdd843e2e5d46634d232ec4ee9506

[2018-12-18 11:39] #142 closed

[2018-12-18 11:48] Catfriend1 commented on #130
It does work with a weird workaround:
- I've installed Root Explorer (without having root, gplay)
- I've installed Simple File Manager (from Tibor Kaputa, f-droid)
I've created the text file "/storage/emulated/0/1.txt" with Root Explorer and then clicked it to "open with" using "Simple File Manager - File Editor" with "always open with this app ticked".
I then went into "Syncthing-Fork/Recent Chan

[2018-12-18 11:49] Catfriend1 commented on #131
I think we can do this much easier when the "Refactor ConfigXml" PR is completed (#135)

[2018-12-18 11:52] Catfriend1 opened #143 "Adjust the folder icon to show if it's send/receive or both"
If you have issues with this fork, feel free to post them. I'll look into them if a good reproducer or log is provided.

### Description of the issue
![image](https://user-images.githubusercontent.com/16361913/50292582-c980fc80-0471-11e9-893d-05bb7f45fdfd.png)

[2018-12-20 15:12] Catfriend1 commented on #143
This enhancement will be part of an upcoming release.

[2018-12-20 15:12] #143 closed

[2018-12-20 15:13] Catfriend1 commented on #108
I expect this problem to be finally solved after PR "Refactor ConfigXml #135" got completed.

[2018-12-20 15:16] Catfriend1 commented on #101
The fix will be part of an upcoming release.

[2018-12-20 16:56] Catfriend1 opened #144 "CPU percentage is not shown on the status tab"
### Description of the issue
CPU percentage is not shown on the status tab.

### Version Information
    App Version:  v0.14.52+
    Syncthing Version: v0.14.52+

[2018-12-20 16:56] Catfriend1 commented on #144
The fix will be part of an upcoming release.

[2018-12-20 16:56] #144 closed

[2018-12-21 09:46] Catfriend1 opened #145 "[FR] Always make individual sync conditions UI available"
Always make individual sync conditions UI available regardless if syncthing core is running or not.
+ Remove SyncthingService dependency from SyncConditionsActivity

### Version Information
    App Version: 0.14.51.13+

[2018-12-21 09:47] Catfriend1 commented on #110
Related FR: "#145 Always make individual sync conditions UI available"

[2018-12-21 09:48] Catfriend1 commented on #145
This change will be part of an upcoming release.

[2018-12-21 09:48] #145 closed

[2018-12-21 10:52] Catfriend1 opened #146 "IntroducedBy deviceID lost on config change through wrapper UI"
### Description of the issue
Introducer's Device ID get's lost if any syncthing core settings are changed through the wrapper's UI.

### Reproducer
- Setup an introducer device and mark it as introducer on the android.
- Share a folder with the introducer device and a third device.
- Mark the introducer device as introducer on the third device.
- The third device gets "introduced" and thus added t

[2018-12-21 11:06] Catfriend1 commented on #146
The fix will be part of an upcoming release.

[2018-12-21 11:06] #146 closed

[2018-12-21 23:49] Catfriend1 opened #148 "Syncthing wrapper "emergency" shutdown on native binary crash doesn't work"
### Reproducer
- (Let the) native binary crash during State.STARTING
- SyncthingRunnable will notify SyncthingService that the native binary crashed and show the correct crash log to the user.
- The user is then stuck forever as the wrapper is still in State.STARTING and - concurrently - in deferring shutdown until the "starting" procedure completed. > It can never shutdown the crashed instance an

[2018-12-21 23:51] Catfriend1 commented on #148
The fix will be part of an upcoming release.

[2018-12-21 23:51] #148 closed

[2018-12-23 21:56] Catfriend1 opened #149 "Binder failed - cannot create handler inside thread that has not called looper.prepare"
Toggling android sync quick toggle hangs the app forever. Error: Binder - cannot create handler inside thread that has not called looper.prepare

### Description of the issue

### Reproducer

### Version Information
    App Version: v0.14.54.3
    Syncthing Version: v0.x.y
    Android Version: Android x.y / Cyanogenmod x / ...

### Android Log
    adb shell / logcat
    or MatLog (search on GitHub

[2018-12-23 21:56] Catfriend1 commented on #149
![screenshot_2018-12-23-22-51-05-972_com pluscubed matloglibre](https://user-images.githubusercontent.com/16361913/50387827-006f4080-0706-11e9-9860-398c0bb7c610.png)

[2018-12-24 08:51] #149 closed

[2018-12-24 22:22] Catfriend1 opened #152 "VPN issue"
Quotw from 1259 @robsonsobral

Version Information
App Version: 0.10.15
Syncthing Version: v0.14.51
Android Version: Android 9 on Moto X4

Hi,
Did you try if the recent release from syncthing fork helps you solve the problem? Would appreciate your feedback on this issue.
Kind regards
Catfriend1

[2018-12-25 02:52] robsonsobral commented on #152
How can I install it? I'm not an android person.

[2018-12-25 08:58] Catfriend1 commented on #152
Please : start by googling:
- how to provide a good verbose logcat + android
- how to install an apk from another source + unknown sources +android
- download:https://github.com/Catfriend1/syncthing-android/releases/download/v0.14.54.4/com.github.catfriend1.syncthingandroid_4183_0.14.54.4_d917ac5.apk
- then turn back here or to the forum.

[2018-12-25 08:58] #152 closed

[2018-12-26 11:02] Catfriend1 opened #153 "Support Variable Size Blocks (VBS)"
syncthing/pull/5405
Officially VBS beginning to be default = v0.14.56+

[2018-12-26 11:02] Catfriend1 opened #154 "After resetting DB, syncthing runs unconditionally"
### Description of the issue
After resetting DB, syncthing runs unconditionally

### Reproducer
- Reset DB or Delta Index from wrapper UI
- syncthing runs unconditionally

[2018-12-26 11:02] Catfriend1 opened #155 "Show database size in SettingsActivity"
Show database size in SettingsActivity

[2018-12-28 11:38] #153 closed

[2018-12-28 11:39] #154 closed

[2018-12-28 11:46] Catfriend1 opened #158 "FolderActivity not correctly disposed after dialog close"
### Reproducer
Click on "restart syncthing" on the wrapper UI after you edited a folder.

### Version Information
    App Version: 0.14.54.3+
    Syncthing Version: v0.14.54

[2018-12-29 16:36] Catfriend1 opened #159 "Better validate Device ID's (if possible)"
Better validate Device ID's (if possible)

### Description of the issue

### Reproducer

### Version Information
    App Version: 0.x.y
    Syncthing Version: v0.x.y
    Android Version: Android x.y / Cyanogenmod x / ...

### Android Log
    adb shell / logcat
    or MatLog (search on GitHub) output

[2018-12-29 17:05] Catfriend1 commented on #159
To form a device ID the SHA-256 hash of the certificate data in DER form is calculated. This means the hash covers all information under the Certificate: section above.
The hashing results in a 256 bit hash which we encode using base32. Base32 encodes five bits per character so we need 256 / 5 = 51.2 characters to encode the device ID. This becomes 52 characters in practice, but 52 characters of b

[2018-12-29 18:51] Catfriend1 commented on #159
[code]

[2018-12-29 23:33] Catfriend1 opened #161 "mRunconditionmonitor not running after config import/export"
mRunconditionmonitor not running after config import or export

[2018-12-30 11:08] Catfriend1 commented on #158
There is a memory leak.
- Caused by SyncthingActivity#registerOnServiceConnected

[2018-12-30 12:05] Catfriend1 opened #163 ""Share to syncthing-folder" doesn't work when syncthing is not running"
### Description of the issue
"Share to syncthing-folder" doesn't work when syncthing is not running

[2018-12-30 13:06] Catfriend1 opened #164 "Display apiKey on settingsActivity"
Display apiKey on settingsActivity

[2018-12-30 13:12] Catfriend1 commented on #163
The fix will be part of an upcoming release.

[2018-12-30 13:12] #163 closed

[2018-12-30 14:02] Catfriend1 commented on #158
The fix will be part of an upcoming release.

[2018-12-30 14:02] #158 closed

[2018-12-30 15:09] Catfriend1 opened #165 "Syncthing version not showing in Drawer or incorrectly shown after app first start or update"
### Description of the issue
Syncthing version not showing in Drawer or incorrectly shown after app first start or update

### Reproducer
- First start the app after a fresh install
- Update the app to a release with a higher syncthing native version.

[2018-12-30 15:13] #165 closed

[2018-12-30 15:32] Catfriend1 commented on #164
This enhancement will be part of an upcoming release.

[2018-12-30 15:32] #164 closed

[2018-12-30 16:34] Catfriend1 opened #168 "Settings/Syncthing Split IP:Port option for GUI"
1) local GUI binding
2) public GUI binding
3) tcp port

[2018-12-30 18:06] Catfriend1 commented on #161
Huh, it happened again on an older Android ... the log shows that the service entered DISABLED state correctly due to run conditions before the import was started. But then, the service unexpectedly hit onDestroy() leading to the follow-up problem described above after the import took place.

[2018-12-30 20:00] Catfriend1 commented on #161
This happened because the affected phone had Tasker running and sending service shutdown requests externally. It's totally fine that the RunConditionMonitor is terminated forever in such a use case when an external program controls the wrapper.
See https://github.com/Catfriend1/syncthing-android/wiki/Remote-Control-by-Broadcast-Intents for more information.

[2018-12-30 20:00] #161 closed

[2018-12-30 21:39] Catfriend1 opened #170 "Tasker - Support to control SyncthingService by broadcast is broken"
### Description of the issue
Symptom is "mRunConditionMonitor not instantiated" error message on the status tab.

[2018-12-30 21:41] Catfriend1 commented on #170
The fix will be part of an upcoming release.

[2018-12-30 21:41] #170 closed

[2018-12-30 21:41] Catfriend1 commented on #170
commits:
https://github.com/Catfriend1/syncthing-android/pull/169/commits/e0805736bf2b7adfceb847814d9aa4ef58c6c5ed
https://github.com/Catfriend1/syncthing-android/pull/169/commits/708213b7ec6c7aa56ada80add531bedff1bc6c7d
https://github.com/Catfriend1/syncthing-android/pull/169/commits/d315daf3ba60f80e5a5384f1aa87ad846486fc97

[2018-12-30 23:03] Catfriend1 commented on #15
Hey @alok0 @bradmont,

I’ve released 0.14.54.8 of the syncthing android wrapper today. It has full support for third party automation tools like Tasker or Automate. If you’d like to do the one time shot sync controlled by a third party app with syncthing that’s now possible by sending broadcast commands like I did it already with Tasker. See the wiki on how to do this: https://github.com/Catfriend

[2018-12-30 23:05] Catfriend1 commented on #15
Related: https://github.com/syncthing/syncthing-android/issues/1031

[2018-12-30 23:11] Catfriend1 commented on #15
Cc @grwlf @felixwiemuth @Mannshoch @acornsirup @lukelam @rubenb
Hi together,
manual syncing according to self-defined conditions or time plan or one time shot is now possible using third party apps. I improved the broadcast implementation.
Happy new year tomorrow! :-)

[2018-12-31 15:46] Catfriend1 commented on #155
The enhancement will be part of an upcoming release.

[2018-12-31 15:46] #155 closed

[2019-01-01 19:57] Catfriend1 commented on #93
Closed; It doesn't show reasonable values reflecting understandable reality. way a) shows 1-9% RAM usage when Android OS says it's almost 70% used. way b) shows 85-92% RAM usage all the time for the heap.

[2019-01-01 19:57] #93 closed

[2019-01-02 12:09] balihb opened #177 "Add "roaming" option to run conditions"
adding roaming as run condition would be a nice addition. lots of people have limited data when roaming.

[2019-01-02 12:21] Catfriend1 commented on #177
Good idea!

[2019-01-02 12:24] qazip opened #178 "SD Card support"
How is the support for syncing a folder in an external SD card? Is this something that can be done in this fork?

[2019-01-02 12:38] #178 closed

[2019-01-02 12:38] qazip commented on #178
I've read the tips and tricks and also saw that you have an option to run syncthing as root.

[2019-01-02 12:59] Catfriend1 commented on #178
Related material:
https://github.com/Catfriend1/syncthing-android/wiki/Frequently-Asked-Questions

In short: It cannot be done; but the wrapper suggests the right path on SDcard where read-write access is granted by Android.
Technically: This is very complicated to solve and would need both large efforts on syncthing core and the wrapper project.

[2019-01-02 13:34] qazip commented on #178
Is there any security/privacy issue when using the following option?:

"Create your destination folders under Syncthing's application-specific folder, e.g. /storage/emulated/0/Android/data/com.github.catfriend1.syncthingandroid/files"

It is what I am doing and I'd like some reassurance.

[2019-01-02 13:56] Catfriend1 commented on #178
Any folder on sdcard can be read by any app on your phone. More recent android versions restrict read access to those apps which asked you for storage permission (like syncthing fork does on the welcome slide).

[2019-01-02 14:01] qazip commented on #178
Is that not true for the "normal" storage (non SD card storage)? That is, can't apps read that storage as well?

[2019-01-02 14:05] Catfriend1 commented on #178
Behaviour changed between android versions, also as I recall different ROMs (e.g. Cyanogenmod) had another behaviour mounting internal "sdcard" storage to /storage/ABCD-EFGH (instead of /storage/emulated/0) and then restrictions like for external sd card storage were applied. Honestly, I cannot assure you how "your Android version" handles it. It would be better to reach out to experts, e.g. on XD

[2019-01-02 17:12] Catfriend1 commented on #168
The enhancement will be part of an upcoming release.

[2019-01-02 17:12] #168 closed

[2019-01-02 22:47] Catfriend1 commented on #130
I'll keep that in mind, but at the moment other things are in focus. The editor should be there/ launchable when we have a small file browser in the syncthing app itself. No schedule when this will be reached yet...

[2019-01-02 22:47] #130 closed

[2019-01-02 22:49] Catfriend1 commented on #110
I'm currently working on improving the clearness and "thinking positive" when it comes to the run conditions.

[2019-01-03 08:39] phuyuk commented on #178
The trouble started with Marshmallow - at least it did with one of my devices, which is still on Lineage 13.

That device is rooted, but I opted not to give Syncthing root access to solve the problem, since that feature is experimental and potentially hazardous. Rather, I've given Syncthing the needed 'write media storage' permission by editing the app's manifest in /data/system/packages.xml. This

[2019-01-03 08:51] Catfriend1 commented on #178
Hi @phuyuk ,
what you describe matches my experience when I used cm13 back in the past :-).
Unfortunately it didn't work when I tried it almost a year ago with lineage14 on my lg-h815 phone running Android 7.x. If you like, feel free to make a short explanation for our wiki and I'll post it there for the other cm13/lineage13 users.
Thanks for your feedback.

[2019-01-03 11:16] Catfriend1 commented on #177
I'm planning to implement this after #110

[2019-01-03 11:38] Catfriend1 opened #184 "Improve usage reporting question dialog implementation"
I need to check if the dialog popup in MainActivity has enough Service.State == ACTIVE checks as it needs a running syncthing instance.

Problem found:
The usage reporting dialog asking the user to opt-in is not properly dismissed on screen orientation change and causes resource leak.

Log:
[code]

[2019-01-03 12:53] Catfriend1 commented on #78
Done.

[2019-01-03 17:37] #184 closed

[2019-01-03 20:20] Catfriend1 commented on #44
Hi @o-l-a-v ,
Does the battery saving dialog bug also occur when using Syncthing-Fork?

[2019-01-03 22:05] Catfriend1 opened #187 "Add status light to toolbar in MainActivity to indicate if syncthing is running"
Enhancement request:
Add status light to toolbar in MainActivity to indicate if syncthing is running
- green: Syncthing is running
- yellow: Syncting is starting
- orange: Syncting is not running

[2019-01-03 22:42] Catfriend1 commented on #187
This enhancement will be part of the next release.

[2019-01-03 22:47] #187 closed

[2019-01-04 13:43] Catfriend1 opened #189 "Only start syncthing native when at least one folder or device is/would be unpaused"
Enhancement request:
- Only start syncthing native when at least one folder or device is/would be unpaused

[2019-01-04 13:45] Catfriend1 commented on #189
Related commits:
https://github.com/Catfriend1/syncthing-android/pull/182/commits/7ef746dbfb3eaebf3fe77466b602038825d87954
https://github.com/Catfriend1/syncthing-android/pull/182/commits/8f5d97f4624d9f103a83997c8e0bbf8a39acc073

[2019-01-04 13:45] Catfriend1 commented on #189
This enhancement will find its way into one of the next releases.

[2019-01-04 13:46] Catfriend1 commented on #110
@cdrfun : I've implemented another improvement, see [FR]"Only start syncthing native when at least one folder or device is/would be unpaused #189" which will help getting the last bit of your request done.

[2019-01-04 14:12] Catfriend1 opened #190 "Logical fail: (Un)pause a folder with individual run conditions set is undone"
### Reproducer
- Set individual run conditions to one folder.
- (Un)pause that folder
- (Un)pause will be undone

### Version Information
    App Version: 0.14.51.13+

[2019-01-04 14:18] Catfriend1 opened #191 "Always run syncthing when connected to WiFi in a fresh setup with no devices in the config yet"
After the reworkRunCond PR should be another way to manually "force-start" syncthing disrespecting the checkIfAtLeastOneDeviceShouldUnpause() feature, introduced by #182 . The would else be unable to get "device wants to connect" popups when syncthing has 0 devices in the config and never runs.

Maybe we call this "device learning" mode.

Or auto-activate syncthing forcefully if no devices are the

[2019-01-04 14:54] Catfriend1 commented on #191
This will be part of one of the next releases.

[2019-01-04 16:03] Catfriend1 commented on #44
@NicoWeio Hi Nico, what you requested is already available in Syncthing-Fork (gplay, fdroid) where you get an explanation (and soon a green/red) when syncthing is and why it is (not) running.

[2019-01-04 16:30] o-l-a-v opened #192 "Syncthing-Fork v1.0.0.1 fails to open "Disable Battery Optimization" on Shield TV"
If you have issues with this fork, feel free to post them. I'll look into them if a good reproducer or log is provided.

### Description of the issue
Syncthing-Fork v1.0.0.1 fails to open "Disable Battery Optimization" on nVidia Shield Android TV with Android 8.0.0, Experience Update v7.2.1.

Here's a [YouTube video](https://www.youtube.com/watch?v=4BMiW_REBfs) showing the very issue.

I've mentio

[2019-01-04 16:33] NicoWeio commented on #44
@Catfriend1 Oh, great. But will there be a PR for the "official" client?

[2019-01-04 16:36] Catfriend1 commented on #192
Thanks for the video and report. I'll Google if I can find a good solution to this.
Did you try going to Android settings> battery/power and exclude the app there manually from power optimization? Did it work then?
Should I build a version of the app that is for testing and Skips the welcome slide for us to see how it works then?

[2019-01-04 16:37] Catfriend1 commented on #44
@NicoWeio The PR was already there, discussed back in august 2018 and rejected by the maintainer.

[2019-01-04 16:53] o-l-a-v commented on #192
There is no such menu to be found on Android TV (at least not on nVidia Shield), else there would be an easy solution to this problem.

Nah, no need to build a special version. My guess is bugs in nVidia firmware, but I'm not qualified to say / got no evidence.

There might be some ADB commands one could use, I'll research that.
Will also try to sideload MatLog.

[2019-01-04 17:05] o-l-a-v commented on #192
Added a [thread](https://forums.geforce.com/default/topic/1092750) on nVidia forums, might help us to find out wether this is an Syncthing-Fork issue, or an issue with nVidia firmware.

[2019-01-04 17:06] Catfriend1 commented on #192
If possible, a log would be very interesting. I guess Nvidia has removed the power saving dialogs from android core. Dumping exact device info via adb (manufacturer and model especially) would help fix this issue in the future on our side.

[2019-01-04 17:16] o-l-a-v commented on #192
I'm looking into getting logs out of it now. ADB over WiFi seems like a possibility, but every new app to test requires sideloading. A bit cumbersome, but I think I'll get it eventually.

[2019-01-04 17:48] o-l-a-v commented on #192
Got some logs with MatLog, please tell if you can get any usefull information out of it.

[2019-01-04 18:04] o-l-a-v commented on #192
Found a way to whitelist an app from doze / battery optimization, seems like it did the trick for Syncthing-Android and Syncthing-Fork

    adb shell dumpsys deviceidle whitelist +

[2019-01-04 18:18] Catfriend1 commented on #192
Great, i'll look into them as soon as I'm back on the computer :-).

[2019-01-04 18:19] Catfriend1 commented on #192
The work around should be in the tips & tricks collection and only displayed on Nvidia devices.

[2019-01-04 18:21] Catfriend1 commented on #192
Can you confirm this is correct:
adb shell dumpsys deviceidle whitelist +com.github.catfriend1.syncthingandroid
Which commands had to be entered before that to get adb over wifi access? Did you need to turn on developer options beforehand? I'm asking because I want to describe that a accurate as possible in tips &tricks section.

[2019-01-04 18:35] o-l-a-v commented on #192
Had to enable developer menu, enable USB debugging then debugging over WiFi.
Got no info on ip:port, then connected pc to Shield USB Micro
Got ip:port info for ADB over WiFi, disconnected USB cable.
Adb server-kill, then adb server-start
Then adb connect ip:port
Got confirmation on Shield, confirmed/ gave adb permission to my PC.
Then i ran the command.

[2019-01-04 18:58] o-l-a-v commented on #192
Tried again, it's simpler than what I first described:

* Enable Developer option
* Enable "USB debugging" and then "Network debugging" inside Developer options
* Wait for ip:port to show
* Locate / Download Google platform-tools, navigate to folder where adb.exe resides. Open Command Prompt here
* Type the following:
    adb start-server
    adb connect ip:port (example: adb connect 192.168.1.76:

[2019-01-04 19:07] o-l-a-v opened #193 "Syncthing-Fork crashes during startup if Syncthing-Android is already running"
If you have issues with this fork, feel free to post them. I'll look into them if a good reproducer or log is provided.

### Description of the issue
Syncthing-Fork crashes during startup if Syncthing-Android is already running.
No error messages is given, Syncthing-Fork only force closes.

### Reproducer
* Install both Syncthing-Android and Syncthing-Fork on the same system.
* Start Syncthing-And

[2019-01-04 19:15] Catfriend1 commented on #193
Yes, I already know about that. You cannot run both are same time because the native binary has the same name internally. Maybe I could detect this and display an error message if it doesn't hang startup forever.

[2019-01-04 19:24] o-l-a-v commented on #193
A error message would be nice.
I understand that they both can't coexist. Uninstalled the Syncthing-Android app, only running yours now. Thanks!

[2019-01-04 19:25] o-l-a-v opened #194 "[Feature Request] Make Syncthing-Fork available through Google Play Store for Android TV"
Syncthing-Fork is currently not available through Google Play Store for Android TV, while Synthing-Android is.
Would be very nice if we could install and update Syncthing-Fork on Android TV using Google Play Store for Android TV.

[2019-01-04 19:36] Catfriend1 commented on #194
Hey, it's just two days on the play store, come on. Just kidding :). I'll check how to submit it for TV's when having some time for that. GPlay needs a special submission for that as I recall...

[2019-01-04 19:40] o-l-a-v commented on #194
Great, thanks :)
No hurry, just thought creating a issue while I had it on my mind would be smart.

[2019-01-04 19:40] Catfriend1 commented on #192
Added wiki article: https://github.com/Catfriend1/syncthing-android/wiki/nVidia-Shield-TV-preparations
Thanks for writing this up so detailed 👍

[2019-01-04 19:42] Catfriend1 commented on #194
Ahhhh it's here:
![image](https://user-images.githubusercontent.com/16361913/50707448-28916480-1061-11e9-885b-dd22350dd95e.png)

I've submitted the enquiry to offer this app on Android TV's to Google Play. It's now up to them if they accept it like the upstream app.
![image](https://user-images.githubusercontent.com/16361913/50707494-4fe83180-1061-11e9-9b06-76678cf953ef.png)

[2019-01-04 19:51] Catfriend1 commented on #192
The problem lies here - as I guessed, NVIDIA shields is an Android OS "fork" which got those battery optimization menus patched out.

[code]

[2019-01-04 20:01] o-l-a-v commented on #192
Thanks, I'll request a fix from nVidia developers at their forum.
It worked on previous Android TV version, Nougat.

[2019-01-04 21:01] Catfriend1 commented on #194
According to google notification, it should be done.
![image](https://user-images.githubusercontent.com/16361913/50710761-33052b80-106c-11e9-9585-24a56c57aba7.png)
Can you please check on your TV If it's visibile on the play store? (no install required)

[2019-01-04 21:14] Catfriend1 commented on #193
Well, you've got:
[code]
We're then waiting "forever" that SyncthingNative exists which will never happen because of the failed kill command >> this triggers android's "crash handler", the app is just not responding (see ANR line) but not "crashed", android marks it as crashed and terminates it forcefully.

This is hard to cleanup as both native procs are called "libSyncthing.so" and our instance

[2019-01-04 23:01] o-l-a-v commented on #194
Will check tomorrow, thanks.

[2019-01-05 00:55] Catfriend1 commented on #194
Google rejected it:
Reason: "No full-size app banner"

[2019-01-05 09:11] Catfriend1 commented on #194
Ok thanks for checking this out. I'll come back to this shortly

[2019-01-05 09:37] Catfriend1 commented on #194
Looking at the resources folder, it hasn't got the banner in the right folder (but that also applies to the upstream app which I think got approved before the rules came to google play?!).
The banner lies in res/drawable-nodpi . AndroidManifest.xml is okay.

Source: https://developer.android.com/training/tv/start/start#banner

[2019-01-05 10:38] o-l-a-v opened #197 "[Feature request] Option to start Syncthing-Fork at bootup"
Some of my devices (nVidia Shield TVs) are on 24/7, but occationally they get auto updated and rebooted.

Would be awesome if Syncthing-Fork could have an option to automatically start at reboot / boot.

I think the changes needed are mentioned [here](https://stackoverflow.com/questions/6391902/how-do-i-start-my-app-on-startup).

[2019-01-05 10:40] Catfriend1 commented on #197
From my memory: Go to Settings > Behaviour > Check the box "Start automatically on boot"

[2019-01-05 10:40] #197 closed

[2019-01-05 10:51] o-l-a-v commented on #197
Ah, there it was. Thanks, sorry for opening an issue on this.

[2019-01-05 11:08] Catfriend1 commented on #197
No problem :)

[2019-01-05 12:20] Catfriend1 commented on #126
It looks better now, but I still need to adjust textSize's for 420 dpi phones.

[2019-01-05 13:09] Catfriend1 commented on #126
The problem will be solved in one of the next releases after PR #196 got merged. I've implemented a solution there.

[2019-01-05 13:09] #126 closed

[2019-01-05 14:05] Catfriend1 commented on #192
The fix from #192 will be released after merge.

[2019-01-05 14:05] #192 closed

[2019-01-05 22:49] Catfriend1 opened #199 "Possible ANR while EventProcessor creates ContentResolver scans"
### Description of the issue
- ANR

### Version Information
    App Version: App-Version 1000001
    Syncthing Version: v1.0.0
    Android Version: Android 9

### Android Log from GPlay Console, Motorola Moto X (4) (payton_sprout),
"main" prio=5 tid=1 Native
  | group="main" sCount=1 dsCount=0 flags=1 obj=0x75c4db28 self=0x72a4a14c00
  | sysTid=16039 nice=-10 cgrp=default sched=0/0 handle=0x732a4b

[2019-01-05 23:55] Catfriend1 opened #200 "Cannot change folder type or pull order in wrapper UI"
### Description of the issue
This issue came with PR #169

### Reproducer
Try changing those values through wrapper UI in the folder edit dialog (FolderActivity).

### Version Information
    App Version: 0.14.54.9+
    Syncthing Version: v0.14.54

[2019-01-06 01:27] Catfriend1 opened #202 "User selections are lost if screen rotation changes during folder edit"
### Description of the issue
User selections are lost if screen rotation changes during folder edit

### Reproducer
- Create a new folder (open dialog by pressing "+")
- Toggle a switch
- Select a path
- Rotate screen
- Selections are lost, fields are empty now starting over again from scratch.

[2019-01-06 01:50] Catfriend1 commented on #200
The fix will be part of an upcoming release.

[2019-01-06 01:50] #200 closed

[2019-01-06 01:50] Catfriend1 commented on #202
The fix will be part of an upcoming release.

[2019-01-06 01:50] #202 closed

[2019-01-06 01:52] Catfriend1 opened #203 "Edit folder dialog - AlertDialogs leak on screen rotation"
### Description of the issue
No crash, but a resource and memory leak was found.

[2019-01-06 01:57] Catfriend1 commented on #203
The fix will be part of an upcoming release.

[2019-01-06 01:59] #203 closed

[2019-01-06 02:46] #199 closed

[2019-01-06 02:47] Catfriend1 commented on #199
The fix will be part of an upcoming release.

[2019-01-06 08:55] Catfriend1 commented on #194
Oh my, the current release 1.0.0.2 is still rejected by gplay but I didn't get a new report what's wrong.

[2019-01-06 09:58] o-l-a-v commented on #194
Might be due to either of the following:
- Grant permission to disable Doze for Syncthing-Fork does not work on Android TV Oreo, and thus should not be run if running on Android TV
- It's not possible to setup Syncthing-Fork, or Syncthing-Amdroid for that matter, without using a PC mouse. Aka not fully Android TV compatible.

[2019-01-06 11:32] Catfriend1 commented on #194
In really thought both were done. The doze api isn't called any longer where the dialog was missing as it's detected from code. The second needs to be checked again on a TV. Thought we have key support already.

[2019-01-06 11:47] o-l-a-v opened #205 "APK v1.0.0.2 is a test/ dev version (com.github.catfriend1.syncthingandroid_v1.0.0.2_ae2e1874.apk)"
Seems like your most recent APK release on GitHub is a dev/ test version, which does not replace the v1.0.0.1 already installed on a device. Google Play update on my phone worked right, but manual APK update on my Shields did not. Different compiles?

[Screenshot from Solid Explorer](https://user-images.githubusercontent.com/6450056/50735541-1d4d4e80-11b1-11e9-8259-8c0d679c7467.jpg)

[2019-01-06 13:51] Catfriend1 commented on #205
Update works correctly if you're using the file from the same release type. If started with GitHub for example you'll need the github release apk to update. The same applies for Google play releases.
If it doesn't work, it may be Android refusing to update if the version number of the package didn't change.
I'll try it myself later. The apk has two compile flavours (debug, release) and three signa

[2019-01-06 15:14] Catfriend1 commented on #205
**TL;DR:
If you use the GitHub release, stay on that "channel" and use the same release type for upgrading to a future version.
If you use the F-Droid release, stay on that "channel" and use F-Droid for upgrading to a future version.
If you use the Google Play release, stay on that "channel" and use Google Play Store for upgrading to a future version.**

Okay, digging deeper:
I found out that the

[2019-01-06 15:14] #205 closed

[2019-01-06 15:33] Catfriend1 commented on #205
Here's a new wiki article about it:
https://github.com/Catfriend1/syncthing-android/blob/master/wiki/Switch-between-releases_Verify-APK-is-genuine.md

[2019-01-07 06:31] Catfriend1 commented on #194
There are even more problems reported on the related threads:
https://github.com/syncthing/syncthing-android/issues/717
https://github.com/syncthing/syncthing-android/issues/486

[2019-01-07 18:21] the-mentor opened #210 "Can't bypass battery optimization on Android tv"
I'm running syncthing-fork 1.0.0.1 o  the nvidia shield tv 2017 running android tv 8.0.
When going through the welcome wizard I'm asked to setup the battery optimization but unable to proceed my guess is that android tv is an always connected device so it doesn't have the battery optimization part of android is there an option to add a skip for this check on Android tv devices?

Thanks.
-DM

[2019-01-07 18:50] Catfriend1 commented on #210
This was already "fixed" in  v1.0.0.2 . Please upgrade your installation. As this is an Android restriction causing the problem, you'll also need the wiki article from user @o-l-a-v to solve to the problem, found here: https://github.com/Catfriend1/syncthing-android/wiki/Android-TV-preparations
Duplicate of: https://github.com/Catfriend1/syncthing-android/issues/192
More: https://forums.geforce.co

[2019-01-07 18:50] #210 closed

[2019-01-07 19:27] Catfriend1 opened #211 "Settings UI allows to set a listening port which Android denies to bind"
### Reproducer
- Set a tcp port below 1024 on the Settings UI.
- You're stuck until you restore your configuration from a backup via "Import Configuration".

### Android Log
 SynctingNative says "bind tcp port: permission denied"

[2019-01-07 19:48] #193 closed

[2019-01-07 19:48] #211 closed

[2019-01-09 19:42] Catfriend1 commented on #194
Just reading through the android dev docs... ( https://developer.android.com/training/tv/start/controllers )
There is a part that mentions an activity is getting restarted? recreated? when the dpad controller goes to sleep. @o-l-a-v Can you please tell me if you observe that behaviour in Syncthing or are the disconnects totally random-looking?

[2019-01-10 07:30] Catfriend1 opened #213 "Build does not work with go 1.10"
Quote from @jaoh at https://github.com/syncthing/syncthing-android/issues/1047
[code]

[2019-01-10 07:31] Catfriend1 commented on #213
Related https://github.com/syncthing/syncthing-android/commit/b4d41901d55a99333d596d4930bbdfc328dbedea

[2019-01-10 11:52] o-l-a-v commented on #194
What disconnects? Syncthing "client" to Syncthing "server", or dbad controller to Shield?
I'm away for some days, will check when I'm home again on Sunday.

[2019-01-10 16:22] Catfriend1 commented on #194
Both, one couls trigger the other.

[2019-01-12 11:45] Catfriend1 opened #216 "Screen reader reads "dots" from welcome slides"
### Description of the issue
Elementpfad
com​.github​.catfriend1​.syncthingandroid:id​/layoutDots​/TextView[0]
Es sind mehrere Objekte mit derselben Beschreibung vorhanden.
Der vorlesbare Text dieses Objekts der Kategorie "nicht anklickbar" ("•") stimmt mit dem vorlesbaren Text von 1 anderen Objekt/anderen Objekten überein.

[2019-01-12 16:54] #216 closed

[2019-01-12 18:50] Catfriend1 opened #219 "Readable label missing - Qr code dialog"
### Description of the issue
![image](https://user-images.githubusercontent.com/16361913/51077191-3ec3a400-16a3-11e9-9c9b-29bf45013bf1.png)

[2019-01-12 18:52] #219 closed

[2019-01-13 14:58] Catfriend1 commented on #194
@o-l-a-v I've made a draft to comply with Android's TV app rules on MainActivity (main screen). It's at #222 if you'd like to have a look. The problem is that the Toolbar/ActionBar widgets don't work on Android TV's android OS. This is also stated in the Android developer docs. So what we'd need to finish this PR is a complete reimplemenation of the toolbar and action buttons.
Too much work for no

[2019-01-13 19:13] o-l-a-v commented on #194
@Catfriend1 I'tried connecting, disconnectong the nVidia game pad, is see no disconnects from the server that feeds Syncthing-Fork. No disconnect when putting the Shield to sleep using the nVidia game pad either. Is this what you needed?

[2019-01-13 19:47] Catfriend1 commented on #194
Yes, thanks for testing this out.

[2019-01-15 11:54] Catfriend1 commented on #44
@hub101 Hi, I just read your ticket on the other site and would suggest two things to get the out of sync resolved. As there is a phone involved, would you mind trying Syncthing-Fork from gplay? Secondly, please ensure that a folder shared between phone and other devices has ignore permissions set on all devices participating.

[2019-01-16 00:48] Catfriend1 commented on #194
@o-l-a-v  Wanna try and provide feedback to the BETA? https://drive.google.com/open?id=1XnooXSFAsT5rf-qyxkO2_pZ0XywYcdHZ

[2019-01-16 08:22] Catfriend1 commented on #194
Woah go--gle is so getting on my nerves. Everything worked during my tests now they complain again:

Your app relies on presentation of  web content. Android TV does not support any web browsing content. Please refer to our documentation for details.For example, your app links to web content in the report issues page.

[2019-01-16 12:10] o-l-a-v commented on #194
Damn, their picky.
Their previous routines for testing couldn't have been much to speak of, lots on noncompliant apps in the Google Play Store for Android TV. Syncthing-Android for instance.
I bet they had the floodgate open until they had a minimum number of apps.

[2019-01-16 20:47] o-l-a-v commented on #194
@Catfriend1
Regarding the beta I'm facing some problems:
* I get to the Welcome screen every time I open the app, even after initialization and after restoring a backup from previous installation. Tried to force close the app aswell, same thing.
* The layout does not seem to scale well, some buttons are way to close to the border of the TV. Some icons with text almost touches each other. See pictu

[2019-01-18 17:22] Catfriend1 opened #226 "Android TV - Edit Folder Dialog DPAD unavailable"
Related: #194

Screenshot:
![screenshots](https://user-images.githubusercontent.com/16361913/51402546-0f52e280-1b4e-11e9-97d2-4d0fc1a4994d.png)

[2019-01-18 17:23] Catfriend1 opened #227 "Android TV - Report issue link unavailable"
Related: #194
![screenshotsa](https://user-images.githubusercontent.com/16361913/51402598-2e517480-1b4e-11e9-932d-be1bd5d8b5f7.png)

Requirement from GPlay Team:
- Implement a WebView here.

[2019-01-18 17:24] Catfriend1 opened #228 "Android TV - Edit Device dialog DPAD focus weirdness"
Description:
Android TV - Edit Device dialog DPAD focus weirdness

[2019-01-18 17:27] Catfriend1 opened #230 "Android TV - Barcode Scanner shortcut doesn't make sense"
Android TV - Barcode Scanner shortcut doesn't make sense

[2019-01-18 17:32] Catfriend1 commented on #230
The fix will be part of an upcoming release.

[2019-01-18 17:32] #230 closed

[2019-01-18 17:33] Catfriend1 commented on #226
The fix will be part of an upcoming release.

[2019-01-18 17:33] #226 closed

[2019-01-18 18:14] Catfriend1 opened #231 "Android TV - Custom Sync Conditions dialog DPAD unavailable"
Related: #194

[2019-01-18 18:18] Catfriend1 opened #232 "Android TV - Folder Edit Dialog - Accidential Scroll by DPAD"
### Description of the issue
Folder Edit Dialog - Accidential Scroll by DPAD

Related: #194

[2019-01-18 18:19] Catfriend1 commented on #231
The fix will be part of an upcoming release.

[2019-01-18 18:19] #231 closed

[2019-01-18 18:19] Catfriend1 commented on #232
The fix will be part of an upcoming release.

[2019-01-18 18:19] #232 closed

[2019-01-18 19:37] Catfriend1 opened #233 "Edit Folder Dialog - Focus problems on phones with keyboard input"
Edit Folder Dialog - Focus problems on phones with keyboard input

[2019-01-18 19:38] Catfriend1 commented on #233
The fix will be part of an upcoming release.

[2019-01-18 19:38] #233 closed

[2019-01-18 21:49] Catfriend1 opened #234 "Code contains 20 javadoc errors"
### Description of the issue
Code contains 20 javadoc errors

[2019-01-18 22:06] #234 closed

[2019-01-19 10:31] Catfriend1 commented on #228
The fix will be part of an upcoming release.
See commit https://github.com/Catfriend1/syncthing-android/pull/229/commits/b3ccf4c810754283572a766adb062aabc4b913e8 .

[2019-01-19 10:31] #228 closed

[2019-01-19 13:47] Catfriend1 opened #237 "Add liberapay badge to readme"
https://img.shields.io/liberapay/patrons/Syncthing-Fork.svg?style=social

[2019-01-19 14:16] #237 closed

[2019-01-19 14:53] #227 closed

[2019-01-19 15:36] Catfriend1 commented on #194
@o-l-a-v Thanks for your detailed feedback. I'm getting to it when the "Google stuff" for the app to be accepted on TV is done. Currently, I'm releasing the BETA 1.0.0.14 on GPlay beta channel.

I tested this on a virtual TV (AVD): The welcome screen repeats only until adb "ignore battery" was fired. Is that the culprit here?

[2019-01-19 15:47] Catfriend1 opened #239 "Welcome wizard: Disable "back" button on keygen slide"
### Description of the issue
It's not a good idea to press the button while key generation is in progress.

[2019-01-19 16:04] Catfriend1 opened #240 "Device overview: Show status "Syncing" in case of data throughput"
Device overview: Change status to "syncing" in case of heavy down/upload

[2019-01-19 16:06] Catfriend1 opened #241 "Use WebViewActivity in MainActivity#previewUr"
Use WebViewActivity in MainActivity#previewUr . This makes it nicer viewable on Android TV.

[2019-01-19 16:11] Catfriend1 opened #242 "Android TV: No visual indication when hovering share icon in "Show Device ID" dialog"
### Description of the issue
Android TV: No visual indication when hovering Share icon inside "Show Device ID".

Reported by @o-l-a-v in #194 .

![image](https://user-images.githubusercontent.com/16361913/51429291-8c915c80-1c0d-11e9-855b-8552380b9f5d.png)

[2019-01-19 16:12] Catfriend1 opened #243 "Android TV: Status (Settings) icon doesn't show hovered state"
### Description of the issue
Android TV: Status (Settings) icon doesn't show hovered state

Reported by @o-l-a-v in #194.

![image](https://user-images.githubusercontent.com/16361913/51429282-71bee800-1c0d-11e9-9967-8e155e19a88a.png)

[2019-01-19 16:14] Catfriend1 commented on #194
The folder icon is fixed since 1.0.0.14. For the settings icon, I've registered ticket #243.
![image](https://user-images.githubusercontent.com/16361913/51429306-afbc0c00-1c0d-11e9-84a3-a9767bc89084.png)

[2019-01-19 16:15] Catfriend1 commented on #194
I must admit I'm not a good designer. So if you know someone or like to help me I'd appreciate a submission of new drawables.

[2019-01-19 16:17] Catfriend1 commented on #194
![image](https://user-images.githubusercontent.com/16361913/51429324-f4e03e00-1c0d-11e9-9e76-80d71fd4ba74.png)

This isn't the case on my "test TV":
![image](https://user-images.githubusercontent.com/16361913/51429336-12ada300-1c0e-11e9-8c9c-575b2cf07546.png)

Maybe it's specific to NVIDIA Shield TV?

[2019-01-19 16:19] Catfriend1 opened #244 "Android TV: Better visual indication of hamburger menu hovered state"
Reported by @o-l-a-v in #194:

### Description of the issue
The lighter blue when hovering an icon is not that much different from the regular blue. Too little contrast to be easy to see. Thought I lost the dpad when In fact I was hovering the hamburger menu. The contrast is barely noticable on the hamburger menu actually, much worse than the rest of the UI.

![image](https://user-images.githubuse

[2019-01-19 18:54] Catfriend1 commented on #44
@stuart12 Hi, Just read your ticket about crashing syncthing without indication when and why. Syncthing-Fork is optimized for Android 8+ plus can tell you if it crashed including logs. Would you mind having a try?

[2019-01-19 19:39] stuart12 commented on #44
@Catfriend1 It is too late at the moment.  I have removed the SD card (that was formatted as internal storage), reinstalled syncthing and now the errors have gone away.  I'll try syncthing-fork if similar errors return. [1267](https://github.com/syncthing/syncthing-android/issues/1267)

[2019-01-19 19:41] Catfriend1 commented on #44
@stuart12 Sure, no problem. I'm glad if it works for you now :-).

[2019-01-19 20:12] Catfriend1 opened #245 "Android TV: Better visual indication of back arrow button"
Inspired by feedback from @o-l-a-v in issue #194

### Description of the issue
Android TV: Better visual indication of back arrow button

[2019-01-19 20:13] Catfriend1 commented on #243
The fix will be part of an upcoming release.

[2019-01-19 20:13] #243 closed

[2019-01-19 20:13] Catfriend1 commented on #245
The fix will be part of an upcoming release.

[2019-01-19 20:13] #245 closed

[2019-01-19 21:53] Catfriend1 commented on #244
The fix will be part of an upcoming release.

[2019-01-19 21:53] #244 closed

[2019-01-19 22:03] Catfriend1 opened #247 "Calling sub pref screen directly won't show toolbar on top"
### Description of the issue
Calling sub pref screen directly won't show toolbar on top

On: Phone and TV

[2019-01-19 22:07] Catfriend1 commented on #242
The fix will be part of an upcoming release.

[2019-01-19 22:07] #242 closed

[2019-01-19 22:38] #239 closed

[2019-01-20 11:28] Catfriend1 opened #249 "Eject SDCARD => Crash in Tips&Tricks Activity"
By GPlay User Report:

### Reproducer
- Eject SDCARD
- Open Tips&Tricks

### Version Information
    App Version: 1.0.0.4
    Syncthing Version: v1.0.0
    Android Version: Android 8.0 / Samsung Galaxy S8 (dreamlte)

### Android Log
2019-01-20 12:25:10.379 31843-31843/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.github.catfriend1.syncthingandroid.debug, PID: 31843
    java.lang.Runti

[2019-01-20 11:42] #249 closed

[2019-01-20 12:34] Catfriend1 opened #252 "Android TV: Old FolderPickerActivity used because SAF unavailable?"
Introduction: If you have issues with this fork, feel free to post them. I'll look into them if a good reproducer or log is provided.

### Description of the issue

### Reproducer

### Version Information
    App Version: 1.x.y.z
    Syncthing Version: v1.x.y
    Android Version: Android x.y / LineAgeOS x.y / ...
    Device manufacturer: Huawei / LG / Samsung / Xiaomi / ...
    Device model: I9100

[2019-01-20 12:54] #247 closed

[2019-01-20 14:43] Catfriend1 commented on #194
@o-l-a-v I've put up a new release improving UI flows according to your feedback. See https://github.com/Catfriend1/syncthing-android/releases/tag/v1.0.0.15 or GPlay Beta channel.

[2019-01-20 14:47] Catfriend1 commented on #194
I'm closing this as it gets very long and hard to read. Feel free to open a new issue if you discover more UI glitches or problems related to Android TV. Issue subject should start with "Android TV:" in case.

[2019-01-20 14:47] #194 closed

[2019-01-20 14:49] Catfriend1 opened #255 "[FR] Add pref to enable verbose logging"
FR: Add pref to enable verbose logging

[2019-01-20 14:50] Catfriend1 opened #256 "[FR] Add pref to enable expert mode"
FR: Add pref to enable expert mode
- Variable Size Blocks
- Ignore Delete
- Device Metadata Compression

[2019-01-20 14:50] Catfriend1 opened #257 "TipsAndTricks: Add "ignoreDelete" tip"
TipsAndTricks: Add "ignoreDelete" tip

[2019-01-20 14:52] Catfriend1 opened #258 "[FR] Add "First Time using Syncthing?""
[FR] Add "First Time using Syncthing?"
- If "0 devices" are present in the config, show a tip in a free spot of MainActivity.
- "Want to check out SyncTrayzor?"
- "Want to see a YouTube tutorial?"

[2019-01-20 21:42] #241 closed

[2019-01-20 21:53] Catfriend1 commented on #252
This cannot be fixed as the "OPEN_DOCUMENT_TREE" intent is not supported on Android TVs running Android 7 or 8 according to the following posts.

Related:
- https://stackoverflow.com/questions/51955526/cant-open-safs-open-dodument-dialog-on-one-android-8-device
- https://forum.kodi.tv/showthread.php?tid=333024&pid=2745735#pid2745735

[2019-01-20 21:53] #252 closed

[2019-01-20 21:57] Catfriend1 commented on #131
Will need this doc to fix it:
- https://developer.android.com/reference/android/content/Intent#ACTION_OPEN_DOCUMENT_TREE

Quote:

[2019-01-20 22:34] #240 closed

[2019-01-21 20:47] Catfriend1 opened #261 "Root only - Leftover instance after upgrade problem"
Workaround : Restart your phone after the syncthing app has been upgraded.

Indication: When the problem occurs you'll see the message "web ui tcp port :8384 unavailable. Second instance?"

[2019-01-21 21:02] Catfriend1 commented on #194
Again , a rejection from gplay:

I've tested this so much on the emulator. Did you notice any dpad functionality missing in 1.0.0.16?

[2019-01-21 21:03] pasha132 opened #262 "Syncthing-fork fails to start - tls 1.2 not supported"
### Description of the issue
Hello! Fresh install from Google Play on my device fails to start. Original Syncthing 0.10.15 is working fine. Also tried to export settings from working  Syncthing 0.10.15 and import into fork but this didn't help.
In original syncthing `Use HTTPS for GUI` checkbox was empty.
Thank's for any advice!

### Version Information
    App Version: 1.0.0.16
    Android Versio

[2019-01-21 21:11] Catfriend1 commented on #262
Hi,
Thanks for reaching out on this issue with detailed info. :-)
I'll look into this very soon and then provide a solution.
From reading on my phone I suspect the https fallback to http didn't trigger correctly and has to be fixed.

[2019-01-21 21:36] Catfriend1 commented on #262
Two more things - optionally:
- Does Huawei provide an upgrade to your OS? (Not a must have but interesting)
- can you please post your "adb shell" / getprop results for complete device info? I think this can also be read by typical device info apps.

[2019-01-21 22:06] Catfriend1 commented on #262
Personal dev note:
https://medium.com/tech-quizlet/working-with-tls-1-2-on-android-4-4-and-lower-f4f5205629a
https://gist.github.com/ankushg/8c0c3144318b1c17abb228d6211ba996

[2019-01-21 22:56] pasha132 commented on #262
No, only "android security updates".

Yep. Here it is: https://gist.github.com/pasha132/e1f93cbaf23b85f0fc95eed5798b1500

[2019-01-21 23:01] o-l-a-v commented on #194
I'll have better time to test tomorrow, will let you know if I find any missing dpad navigation functionality.

[2019-01-22 07:06] Catfriend1 commented on #262
Superb, I'll provide a fixed APK ~ today evening.

[2019-01-22 07:45] Catfriend1 commented on #262
In the meantime, does this APK work on your Huawei Nova phone?
https://drive.google.com/open?id=1pmfy5IlGBD__GGl1A4utbzOnSrXls3Gx

[2019-01-22 07:47] Catfriend1 commented on #194
Google says it's this:
![image](https://user-images.githubusercontent.com/16361913/51519821-55e05f80-1e22-11e9-9839-295b3a5052cf.png)
I don't feel like removing it is a good idea?!? Any suggestions?

[2019-01-22 08:00] pasha132 commented on #262
Yes, it can start and connect to web-gui, but i can't check sync for now: does it matter?

[2019-01-22 08:21] Catfriend1 commented on #262
It's okay like this. So now I need some time to decide which is the proper fix. Trying to improve the ssl lib config or exempting devices so they fallback to http. This is a manufacturer and model specific issue.

[2019-01-22 20:57] Catfriend1 opened #264 "Validate device addresses better"
Quote from @steventebrinke (https:// github.com/syncthing/syncthing-android/issues/1268):

[2019-01-22 21:12] Catfriend1 opened #265 "Screen rotation during versioning dialog crashes next time opening it"
Open folder activity (edit folder)
Click on versioning
Rotate phone
Close versioning dialog
Click on versioning
Crash

[2019-01-22 21:22] #262 closed

[2019-01-22 23:15] thiloms opened #266 "Syncthing-fork fails to start - still tls issue"
Hi! Like issue #262 I also have problems starting Syncthing-fork and it seems (for me) to be the same error like #262 but the linked debug version doesn't solve the problem on my phone. There is no problem running the original version of Syncthing-Android-Version 0.10.15 with Syncthing-Version v0.14.51.

### Version Information
    App Version: v1.0.0.17 (apk installed from #262)
    Syncthing Ver

[2019-01-23 06:00] Catfriend1 commented on #266
Thanks, I'll look into this and get back to you.

[2019-01-23 07:40] Catfriend1 commented on #266
More info: https://code.google.com/p/android/issues/detail?id=224438

[2019-01-23 07:41] thiloms commented on #266
Hi Catfriend1,
I can confirm that the application is starting now.

Two question to this patch for my understanding:
1. If your application now uses http instead of https does this only belongs to my device (only localhost) to access the Synthing GUI or has this also impact of transfering files to my other Syncthing instances (unsecure transfer of files)?
2. Is this behaviour default by the origin

[2019-01-23 07:42] pasha132 commented on #262
Yep, it works. Thank you!

[2019-01-23 08:17] Catfriend1 commented on #266
@thiloms

Yes, this is a workaround only needed due to above mentioned SSL regression bug android 7.0 had. Updating to 7.1.1 would allow https to localhost here properly.
The security of the syncthing core's data transfer is unaffected by this change.

[2019-01-23 08:17] Catfriend1 commented on #266
See latest release 1.0.0.17 :)

[2019-01-23 08:17] Catfriend1 commented on #262
See latest release 1.0.0.17 :)

[2019-01-23 20:13] Catfriend1 opened #268 "Improve intent security level"
### Description of the issue
From GPlay Console:

[2019-01-23 20:18] #268 closed

[2019-01-23 20:21] Catfriend1 commented on #264
From the docs at https://docs.syncthing.net/users/config.html#device-element :

[code]

[2019-01-24 00:02] Catfriend1 opened #271 "Screen rotation resets unsaved changes in device edit dialog"
### Description of the issue
Screen rotation resets unsaved changes in device edit dialog

[2019-01-24 00:05] Catfriend1 commented on #271
The fix will be part of an upcoming release.

[2019-01-24 00:05] #271 closed

[2019-01-24 00:05] Catfriend1 commented on #264
The fix will be part of an upcoming release.

[2019-01-24 00:05] #264 closed

[2019-01-24 00:06] Catfriend1 opened #272 "Device ID validation doesn't take place when editing device"
### Description of the issue
Device ID validation doesn't take place when editing device (instead of adding a new device)

[2019-01-24 00:08] Catfriend1 commented on #272
The fix will be part of an upcoming release.

[2019-01-24 00:08] #272 closed

[2019-01-24 00:28] Catfriend1 opened #273 "Folder settings validation doesn't take place when editing folder"
Description of the issue:
Folder settings validation doesn't take place when editing folder (instead of adding a new folder)

[2019-01-24 00:35] Catfriend1 commented on #273
The fix will be part of an upcoming release.

[2019-01-24 00:35] #273 closed

[2019-01-24 00:35] Catfriend1 commented on #265
The fix will be part of an upcoming release.

[2019-01-24 00:35] #265 closed

[2019-01-24 19:55] Catfriend1 opened #274 "On recreation of FolderActivity while creating a new folder: folder.type is reset from SendOnly to Send&Receive"
### Reproducer
On recreation of FolderActivity while creating a new folder: folder.type is reset from SendOnly to Send&Receive

[2019-01-24 19:57] Catfriend1 commented on #274
The fix will be part of an upcoming release.

[2019-01-24 19:57] #274 closed

[2019-01-24 20:42] Catfriend1 opened #275 "Android TV: Google dislikes the WebUI"
### Description of the issue
We aren't allowed to put the Web UI for Android TV. As I cannot influence if the content of syncthing core obey the Google Android TV eligibility rules I'll try to hide it in the next release on TVs. If that doesn't help, I'll revert this change.
![image](https://user-images.githubusercontent.com/16361913/51519821-55e05f80-1e22-11e9-9839-295b3a5052cf.png)

Cc: @o-l-a-v

[2019-01-24 20:49] #275 closed

[2019-01-24 20:56] Catfriend1 opened #277 "Minimum Free Disk Space setting not working/respected?"
Got a ticket:

### Description of the issue
[code]
### Version Information
    App Version: ?
    Syncthing Version: v0.14.50
    Android Version: ?
    Device manufacturer: Google
    Device model: Pixel 2 XL

### Android Log
    adb shell / logcat
    or MatLog (search on GitHub) output

[2019-01-24 21:02] Catfriend1 commented on #277
Setup test case:
- Default Camera folder
- Edit folder via web UI
- Set MinDiskFreeSpace Unit "MB", val="100"
- Config saved successfully
- Config dump
- Seeing this below <folder> node
`<minDiskFree unit="MB">100</minDiskFree>`

[2019-01-24 21:50] cmcooper1980 commented on #277
Thank you for confirming the bug!  Glad it isn't isolated to me...

[2019-01-24 22:02] Catfriend1 commented on #277
Hmmm... tried to adjust the model so it doesn't loose the MinDiskFree contents but yet found no way of a correct implementation. I guess the text node causes trouble here as the value is not in its own tag. I reached out to the core devs as this is not an issue of the android wrapper.
See : https://forum.syncthing.net/t/problem-parsing-mindiskfree-on-android/12762

[2019-01-25 06:47] o-l-a-v commented on #194
You did it @Catfriend1! Just got a update to Syncthing-Fork through Google Play for Android TV!

Your work in making Synthing-Fork compatible with Android TV is much appreciated, thank you.

[2019-01-25 07:15] Catfriend1 commented on #194
So you got version 1.0.0.18 now from gplay beta? Thanks for helping me through this. :-)

[2019-01-25 07:17] o-l-a-v commented on #194
Yes, 1.0.0.18.

No problem. :)
Will let you know if I find any more bugs or feature requests when navigating on ATV, when I got time.

[2019-01-26 18:53] Catfriend1 commented on #277
Can you please try this APK and let me know if the problem is fixed?
Link: https://drive.google.com/open?id=1yCfYAz0KFR6lGjVXAfb0GcArdGh1ye1U

[2019-01-26 22:34] Catfriend1 opened #279 "TipsAndTricks"
GitHub version for sdcard write.

[2019-01-27 12:51] Catfriend1 commented on #279
I cannot confirm this on running two APKs (debug, release) on the same AVD 9.x. Both have sdcard write access within the special syncthing folder.

[2019-01-27 12:51] #279 closed

[2019-01-27 13:58] Catfriend1 opened #280 "Syncthing core doesn't start on VirtualBox"
Needs enhancement of the run condition monitor to detect LAN connection.

[2019-01-27 13:59] Catfriend1 opened #281 "SaveInstanceState needed in welcome wizard"
Introduction: If you have issues with this fork, feel free to post them. I'll look into them if a good reproducer or log is provided.

### Description of the issue

### Reproducer

### Version Information
    App Version: 1.x.y.z
    Syncthing Version: v1.x.y
    Android Version: Android x.y / LineAgeOS x.y / ...
    Device manufacturer: Huawei / LG / Samsung / Xiaomi / ...
    Device model: I9100

[2019-01-27 14:57] Catfriend1 commented on #280
Solution: Enable run on metered WiFI

[2019-01-27 15:11] Catfriend1 commented on #280
@o-l-a-v Does your Android TV work on Wi-Fi or ethernet connection?

[2019-01-27 19:01] #261 closed

[2019-01-27 19:17] cmcooper1980 commented on #277
Initial test looks promising...I set a 2GB limit and files seem to stop
syncing right around 2.77GB on my Pixel 2 XL.  Looking in the phone's Web
GUI and touching the blue link under the sync'd folder for item errors it
shows those items failed to sync due to insufficient space.  I am about to
test again and up the minimum to 5GB and see if it files stop syncing
around that limit.

On Sat, Jan 26,

[2019-01-27 19:38] cmcooper1980 commented on #277
Awesome and thank you!

On Sun, Jan 27, 2019 at 1:27 PM Catfriend1 <notifications@github.com> wrote:

[2019-01-27 19:41] #277 closed

[2019-01-27 19:56] Catfriend1 commented on #277
Release is there on GitHub, GPlay will follow soon.

[2019-01-27 20:34] cmcooper1980 commented on #277
OK great...thank you again!

On Sun, Jan 27, 2019 at 1:56 PM Catfriend1 <notifications@github.com> wrote:

[2019-01-27 22:02] Catfriend1 commented on #177
Maybe we'll do this earlier and then rework the run conditions...

[2019-01-27 22:22] Catfriend1 opened #285 "UnixProcess WaitFor ANR"
### Android Log
    OnePlus OnePlus 6 (OnePlus6), Android 9

"main" tid=1 Waiting
"main" prio=5 tid=1 Waiting
  | group="main" sCount=1 dsCount=0 flags=1 obj=0x750523c8 self=0x75b7214c00
  | sysTid=23194 nice=-10 cgrp=default sched=0/0 handle=0x763d47e548
  | state=S schedstat=( 357464791 25205059 322 ) utm=27 stm=8 core=7 HZ=100
  | stack=0x7ff9b0a000-0x7ff9b0c000 stackSize=8MB
  | held mutexes=

[2019-01-27 22:43] Catfriend1 opened #286 "Update model/Folder for v1.0.1"
CopyOwnershipFromParent bool

https://github.com/syncthing/syncthing/pull/5479/files

[2019-01-28 07:38] Catfriend1 commented on #286
This will be merged later.

[2019-01-28 07:38] #286 closed

[2019-01-28 08:02] Catfriend1 commented on #285
The fix will be part of an upcoming release.

[2019-01-28 08:03] #285 closed

[2019-01-30 12:18] Catfriend1 commented on #264
@steventebrinke Can you confirm this is fixed in the most recent release 1.0.0.19?

[2019-01-31 17:21] ramesh45345 opened #290 "[FR] Syncthing-Fork should reliably end syncthing process upon exit"
Upon exiting Syncthing-Fork, it would be nice if it would optionally clean up or end the syncthing process running in the background (regardless of its state of running properly or hung for whatever reason).

This is especially useful when, sometimes, Syncthing-Fork stays in the "Syncthing is starting..." status (for whatever reason, such as an invalid syncthing configuration, etc), and Syncthing-

[2019-01-31 17:58] Catfriend1 commented on #290
Thanks for providing that much detail on the issue. I'll look into in one of my next dev sessions.

[2019-01-31 19:21] Catfriend1 opened #291 "NullPointerException crash when config elements gui, options are missing"
From GPlay Console:

[code]

[2019-01-31 21:36] Catfriend1 opened #292 "SyncthingService doesn't stop if config got corrupted"
# Description
SyncthingService doesn't stop if config got corrupted

[2019-01-31 21:37] Catfriend1 opened #293 "Broken config results in welcome wizard loop with no indication of what's wrong"
### Description of the issue
Broken config results in welcome wizard loop with no indication of what's wrong

[2019-01-31 21:38] Catfriend1 opened #294 "Small screens: Crash notification reason is off-screen"
### Description of the issue
Small screens: Crash notification reason is off-screen

[2019-01-31 22:17] #291 closed

[2019-01-31 22:17] #292 closed

[2019-01-31 22:17] #293 closed

[2019-01-31 22:17] #294 closed

[2019-01-31 22:22] Catfriend1 commented on #290
PR "Don't crash if config got corrupted and inform the user #295" should help to catch corrupted configs and tell this to the user properly.

[2019-01-31 22:59] Catfriend1 commented on #290
Can you please check and confirm if the new release solves the issue?
https://github.com/Catfriend1/syncthing-android/releases/download/v1.0.0.20/com.github.catfriend1.syncthingandroid_v1.0.0.20_976d4e05.apk

[2019-01-31 23:16] Catfriend1 opened #297 "No screen reader label"
![image](https://user-images.githubusercontent.com/16361913/52092002-8f4d6380-25b6-11e9-8556-bb3ece64f57c.png)

[2019-02-02 11:51] Catfriend1 commented on #290
It's intended to exit the background syncthing native process when you choose exit from the drawer menu. Could maybe run conditions be a cause for the behavior? I can no longer reproduce the leftover native process since 1.0.0.20 on the emulator. My test was letting Android studio start the app and while that was coming up I stress test like hitted the back or home button (leaves an intact native

[2019-02-02 21:33] cmcooper1980 commented on #277
Hi again,

Is there anything that would make the app revert back to not respecting the
minimum free disk space?  Would adjusting the large block settings affect
the sync?  I am currently on the Play Store version and notice it has eaten
my space down to 516MB when I had a setting of 2GB set.  Seem to work on
the test APK you linked me...which by the way can you give me an updated
link so I can swi

[2019-02-02 23:36] cmcooper1980 commented on #277
OK thanks, I will try these suggestions.

On Sat, Feb 2, 2019 at 5:30 PM Catfriend1 <notifications@github.com> wrote:

[2019-02-03 09:37] Catfriend1 commented on #297
The fix will be part of the next release.

[2019-02-03 09:37] #297 closed

[2019-02-03 09:37] Catfriend1 commented on #257
The fix will be part of the next release.

[2019-02-03 09:37] #257 closed

[2019-02-03 09:39] Catfriend1 opened #300 "Enable large blocks for new folders by default"
### Description of the issue
According to syncthing PR 5405

[2019-02-03 09:48] Catfriend1 commented on #300
This adjustment will be merged when upstream has released the first version with this merged.

[2019-02-03 09:48] #300 closed

[2019-02-03 10:55] Catfriend1 opened #302 "Device doesn't show "out of sync item count""
### Description of the issue
Device doesn't show "out of sync item count" - It shows "UpToDate" instead. Also applies to the official version.
![image](https://user-images.githubusercontent.com/16361913/52175868-9dfc6c00-27aa-11e9-9958-0ca7367adba8.png)

Cause: This event is missed.
![image](https://user-images.githubusercontent.com/16361913/52175860-8a510580-27aa-11e9-8687-02d1fa1b52a6.png)

[2019-02-03 20:56] Catfriend1 commented on #302
This is already handled by RestApi#setCompletionInfo . So no bug here, it just takes time until the event system notifies us.
![image](https://user-images.githubusercontent.com/16361913/52182551-864ed300-27fe-11e9-9b82-4ea2e0941304.png)

[2019-02-03 20:56] #302 closed

[2019-02-03 21:49] Catfriend1 commented on #290
One of the next releases will have a verbose logging option in the preferences screen to obtain more information in the logs to analyze deeper problems.

[2019-02-04 13:32] ramesh45345 commented on #290
Alright, I will test with a log from the next release and post that when it becomes available. I can confirm on my phone with the above debug build, and the latest release from the Play Store (v1.0.0.20), that there is still a syncthing-fork process in the background when exiting the application using the "Exit" option in the Syncthing-Fork menu. I am using 3C Toolbox to check for the background p

[2019-02-04 15:44] ramesh45345 commented on #290
Ok, I did not test this before, and now I am starting to think that the issue really has been solved after my observations.

So I do have remote access enabled. When I exit the app, the website hosted on the phone does disappear. When I re-open the app after leaving the app from a "Syncthing is starting..." state, the notification for the port being busy sometimes does appear, however syncthing is

[2019-02-04 15:44] #290 closed

[2019-02-04 16:41] Catfriend1 commented on #290
Thanks for your feedback, I'm glad it works correctly now.:-?

[2019-02-05 22:36] Catfriend1 commented on #44
Hi @aslmx !
Can you please check if the "syncthing doesn't start" problem also occurs in Syncthing-Fork? I'll soon make a BETA release with syncthing v1.0.1 .

[2019-02-06 07:21] aslmx commented on #44
hi @Catfriend1  thanks for the notice.

i can do it - not sure when exactly though...

What do i need to do? Can i use the syncthing-fork app which is in the f-droid (v 1.0.0.20  - updated 4 days ago)? Or do i need a special release?

i guess i need to setup the sync repos again?

I'll have a look in the next days as soon as i can spare some time.

[2019-02-07 19:27] Catfriend1 opened #305 "Add locally discovered devices to the add device dialog"
GET /rest/system/discovery
[code]

[2019-02-08 17:35] #305 closed

[2019-02-08 17:40] Catfriend1 commented on #255
The enhancement will be part of the next release after the PR #303 got merged.

[2019-02-08 17:40] #255 closed

[2019-02-08 18:13] Catfriend1 opened #307 "Recent changes dialog: Nothing happens when clicking "back arrow""
### Description of the issue
Recent changes dialog: Click the "back arrow" from the toolbar doesn't work - just nothing happens.
![image](https://user-images.githubusercontent.com/16361913/52497100-7b68b980-2bd5-11e9-8cd4-6a3b15123f4e.png)

### Version Information
    App Version: 1.0.1.2
    Android Version: Android 4.4.2

[2019-02-08 18:15] Catfriend1 commented on #307
Cannot reproduce this problem on an Android 5.1 AVD. Ticket will be reopened when a reproducer exists.

[2019-02-08 18:15] #307 closed

[2019-02-09 00:06] mbirth opened #309 "Allow changing suggested path for new folder"
### Description of the issue

When creating new directories or accepting ones, the suggested path is always:

    /storage/<ext. SD card>/Android/data/com.github.catfriend1.syncthingandroid/files/

Regardless of the setting in the config.xml (changed via WebGUI). I know, this is one of the few directories on an external SD card, an app has write access to in Android 8. But this directory is also p

[2019-02-09 11:23] Catfriend1 opened #310 "Show results of no devices were discovered and add refresh button"
### Description of the issue
Show results of no devices were discovered and add refresh button

[2019-02-09 17:26] #310 closed

[2019-02-09 17:29] Catfriend1 commented on #309
Wow, thanks for writing this up. I didn't know the /sdcard/Android/**media**/PACKAGE_NAME folder :-).
I need to check first if this also works on other android models which are not manufactured by Blackberry.
If it works across Android versions, the option should definitely be implemented.

[2019-02-09 17:47] Catfriend1 opened #314 "Rename the misleading "Syncthing is disabled""
### Description of the issue
People often think the whole app is disabled (from Android settings) instead of understanding that SyncthingNative doesn't run at the moment.

[2019-02-09 17:48] #314 closed

[2019-02-09 19:13] Catfriend1 commented on #309
Its also mentioned here : https://talk.sonymobile.com/t5/Xperia-XZ/Some-apps-unable-to-properly-access-SD-card-after-update/td-p/1221219/page/7#gref

[2019-02-10 10:37] mbirth commented on #309
The correct path(s?) should be returned by [getExternalMediaDirs()](https://developer.android.com/reference/android/content/Context#getExternalMediaDirs()) if I read the docs correctly. But I'm no Android dev.

[2019-02-10 12:46] Catfriend1 opened #316 "NPE in offline config reader after folder has been created while Syncthing was not running"
### Description of the issue
NPE in offline config reader after folder has been created while Syncthing was not running

[2019-02-10 12:51] Catfriend1 opened #317 "ActionBar doesn't show in sub-prefs screen on Android < 7"
### Description of the issue
ActionBar doesn't show in sub-prefs screen on Android < 7

[2019-02-10 12:53] #316 closed

[2019-02-10 12:53] #317 closed

[2019-02-10 15:23] Catfriend1 commented on #309
Hi @mbirth ,
I'm ready for a test. Can you please download the new implementation and check if both options under Settings > Behaviour > Suggest new folder root (DATA, MEDIA) work correctly?
If you click "add folder" and click on "Select directory" it should point you to the correct directoy:

- /storage/<ext. SD card>/Android/data/com.github.catfriend1.syncthingandroid/files/
- /storage/<ext. SD

[2019-02-10 19:47] mbirth commented on #309
The APK doesn't install over my version from the Play Store. :disappointed:

[2019-02-10 20:55] laama1 opened #319 "Disable relay option"
### Description of the issue
I see kernel process taking connections to around the world (Relay-servers) to syncthing port 22067.
I don't need this feature, how to disable?

### Reproducer
Afwall droid firewall app log.

### Version Information
    App Version: 1.0.1.2
    Syncthing Version: v0.14.54
    Android Version: LineAgeOS 16 unofficial
    Device manufacturer: Samsung
    Device model: Ga

[2019-02-10 21:02] laama1 commented on #319
You can edit settings if you first export them to folder, then edit and save with text editor, then import back to Syncthing-fork

[2019-02-10 21:03] laama1 commented on #319
You can edit settings if you first export them to folder, then edit and save with text editor, then import back to Syncthing-fork

[2019-02-10 21:03] #319 closed

[2019-02-10 21:08] Catfriend1 commented on #319
The relay setting is under Settings>Syncthing-Options>Relay. Disable the checkbox there. :-)

[2019-02-10 21:11] Catfriend1 commented on #309
It's a test build, those have another internal package ID. Android installs those separately as a separate app. So please export your settings on the play store version, exit this one and install the test APK. You'll have an icon with a D on it in the app drawer. Execute it and import your settings.

[2019-02-10 21:14] Catfriend1 commented on #319
Just for info: Syncthing Version: v0.14.54 is not right because the 1.0.1.x app version carries Syncthing 1.0.1 along.

[2019-02-10 21:31] Catfriend1 opened #320 "Shutdown SyncthingNative via RestApi"
Shutdown SyncthingNative via RestApi

The docs at https://docs.syncthing.net/rest/system-shutdown-post.html say:
[code]

[2019-02-11 00:59] mbirth commented on #309
I always get "App not installed.". Logcat doesn't spit out anything useful:

[code]

[2019-02-11 06:24] Catfriend1 commented on #309
Okay strange, I'm trying to rebuild it later this day...

[2019-02-11 22:36] Catfriend1 commented on #309
Does this one work? https://drive.google.com/open?id=1Oidqdu2UtLcRjrc0_881zpQuz2Vm8okn
I ran a clean and then made a new build on my build server. If it doesn't, maybe a reboot of the phone can help?!

[2019-02-11 23:04] mbirth commented on #309
This one installed fine. Also the new option works. However when using "data", it suggests a directory "files" inside that data directory. When using "media", it suggests the media directory directly. But I don't know if the "files" thing is maybe a standard in Android apps. Just wondered.

[2019-02-11 23:19] Catfriend1 commented on #309
Good observation - I've found the /data/.../files in the docs, but no one mentioned media/.../files . To stay safe, I'd prefer leaving the "old way" with "files" intact and check this later if we don't get bug reports on the new feature if we maybe can omit "files" too. :)
So I'll put this in the release pipeline for the next release. Thanks for pointing this out and helping me test it. :-)

[2019-02-11 23:24] mbirth commented on #309
You're very welcome. Thanks for this awesome app/fork of yours!

[2019-02-11 23:24] #309 closed

[2019-02-12 00:49] Catfriend1 opened #321 "The ViewPager crashes sometimes (again)"
### Android Log
[code]

[2019-02-12 01:22] #320 closed

[2019-02-15 18:33] Catfriend1 commented on #125
https://github.com/syncthing/syncthing-android/issues/1235#issuecomment-464147023

[2019-02-15 18:33] Catfriend1 commented on #111
https://github.com/syncthing/syncthing-android/issues/1235#issuecomment-464147023

[2019-02-16 10:55] Catfriend1 opened #324 "Got a report about exit code 2"
Handy:
OnePlus 6T

https://github.com/syncthing/docs/issues/265

====

const (
	exitSuccess            = 0
	exitError              = 1
	exitNoUpgradeAvailable = 2
	exitRestarting         = 3
	exitUpgrading          = 4
)

[2019-02-16 10:58] Catfriend1 commented on #324
Ich habe diesbzgl. noch ein paar Fragen:

- Mit welcher App-Version lief es zuletzt korrekt? (Ich möchte eingrenzen, ob das Problem ggf. durch das SyncthingNative Update von bspw. 14.54 auf 1.0.1 gekommen sein könnte.)

- Funktioniert der Start von SyncthingNative (erkennbar an "Syncthing läuft" Meldung) gar nicht oder stürzt es zeitverzögert nach ein paar Minuten der Nutzung ab?

- Das Log sagt l

[2019-02-16 10:59] Catfriend1 commented on #324
Maybe relevant for the next core release: https://github.com/syncthing/#/syncthing/pull/5532

[2019-02-16 14:19] Catfriend1 commented on #44
@alaquepasa its fixed in the forked version ;-)

[2019-02-16 21:55] Catfriend1 commented on #44
@colans Hi, does the ignore device button work correctly in 1.0.1.3 app version?

[2019-02-16 23:11] colans commented on #44
@Catfriend1 Not sure how to install it.  I found the fork on F-droid, but the latest version shows up as 0.14.52.1, which doesn't even work.  I get a 404 when I try to install.  This is the second strange thing is that newer releases are showing on https://f-droid.org/packages/com.github.catfriend1.syncthingandroid/ (even though they're not showing up in the app).  Any ideas?

[2019-02-17 06:36] Catfriend1 commented on #44
@colans Try to refresh the fdroid repository on your phone to see the current version (swipe down on main screen).

[2019-02-17 10:21] Catfriend1 commented on #324
Can you look on your internal storage if the following file is present after a crash and post its contents?

From the above linked docs thread:
[code]

[2019-02-18 07:20] Catfriend1 opened #325 "Recommend Barcode Scanner from FDroid"
Recommend Barcode Scanner from FDroid

[2019-02-18 09:17] Catfriend1 commented on #44
@crocket Check Syncthing-Fork for less battery drain. It has optimizations for that and solves the issue.

[2019-02-18 09:44] crocket commented on #44
Will the improvements of syncthing-fork be merged into syncthing?

[2019-02-18 09:48] Catfriend1 commented on #44
Currently partly or no depending on what maintainer Audrius thinks.

[2019-02-18 10:02] noodle- opened #326 "A little translation error in the play store listing"
I just noticed this near the bottom of the play store listing:

which should be changed to something like

Thanks for all the work you put into this fork!

[2019-02-18 10:30] crocket commented on #44
How did you solve battery problem?

[2019-02-18 12:52] crocket opened #327 "syncthing-android becomes disconnected while android is sleeping."
### Description of the issue

I just disabled battery optimization for syncthing-fork. While android is sleeping, syncthing-android is disconnected from my desktop computer.

### Reproducer

### Version Information

    App Version: 1.0.1.3
    Syncthing Version: v1.0.1
    Android Version: LineageOS 14.1
    Device manufacturer: Google
    Device model: Google Nexus 5

### Android Log

[2019-02-18 13:43] Catfriend1 commented on #327
Does the adb command in the article help?

https://github.com/Catfriend1/syncthing-android/wiki/Android-TV-preparations

[2019-02-18 19:14] Catfriend1 commented on #326
Which language do you use to view the store?

[2019-02-18 20:24] noodle- commented on #326
English (United States)

[2019-02-18 22:43] crocket commented on #327
I don't need `adb` to disable battery optimization for syncthing-fork.
I disabled battery optimization for syncthing-fork in settings.

[2019-02-18 23:03] crocket commented on #327
It seems syncthing-fork is disconnected from my desktop computer whenever there are changes in folder settings or whenever I add folders.

[2019-02-18 23:12] crocket commented on #327
[syncthing-fork.log](https://github.com/Catfriend1/syncthing-android/files/2877674/syncthing-fork.log)

[2019-02-19 05:42] Catfriend1 commented on #327
Thanks for the log. Ok there's a crash in it... Maybe that's already fixed in master I recall this fixed a few days ago but unsure if the fix works. I'll compile you a test APK during the next dev session and upload it here so you can check if it fixes the problem.

[2019-02-19 05:43] Catfriend1 commented on #325
https://play.google.com/store/apps/details?id=com.srowen.bs.android&hl=en_US

[2019-02-19 05:44] Catfriend1 commented on #327
Ref: https://github.com/Catfriend1/syncthing-android/pull/322

[2019-02-19 06:03] crocket commented on #327
The crash is a separate issue.

The issue I want to solve is that syncthing-fork sleeps along with android after android sleeps for a while.

[2019-02-19 06:20] Catfriend1 commented on #327
If the activity crashes the doze exemption will not work... Need to check this

[2019-02-19 06:25] crocket commented on #327
If the activity doesn't crash, when does syncthing-fork wake up while android is dozing?

[2019-02-19 06:49] Catfriend1 commented on #327
It stays awake (doze exemption) or it never wakes up. There's no maintenance window the app subscribes to.

[2019-02-19 06:53] crocket commented on #327
Perhaps, should I keep syncthing-fork in recent app list in order to allow syncthing-fork to run in the background? I have a habit of closing every app in recent app list very often.

[2019-02-19 07:01] Catfriend1 commented on #327
@crocket : Yes, you shouldn't swipe it away as some Android's handle this as force-close and abort the service.

[code]

[2019-02-19 07:08] crocket commented on #327
Is it possible to separate the Go service from syncthing-fork app?

[2019-02-19 07:10] Catfriend1 commented on #327
This is found on the forum as it's often been discussed. Search for sdcard issue.

[2019-02-19 07:17] crocket commented on #327
https://github.com/syncthing/syncthing-android/wiki/Frequently-Asked-Questions#what-about-sd-card-support doesn't seem relevant to my issue.

I discovered that my nexus 5 connects to my desktop computer on random intervals while android is dozing.

[2019-02-19 07:32] Catfriend1 commented on #327
https://forum.syncthing.net/t/syncthing-can-not-write-to-sdcard/12773/9
https://github.com/syncthing/syncthing-android/issues/1008
https://github.com/syncthing/syncthing-android/issues/29

Roadmap, to avoid spending my dev time in discussing.

1) There is a new release 1.0.1.4 (beta) on Gplay and Github. Please test and report back if the "IllegalStateException" has gone away. If not, please post

[2019-02-19 07:37] Catfriend1 commented on #326
Thanks, will look into this soon...

[2019-02-19 09:23] crocket commented on #327
Here's my incomplete conclusion from my investigation.

According to https://developer.android.com/training/monitoring-device-state/doze-standby#restrictions
wake locks are ignored during doze.

According to https://developer.android.com/training/monitoring-device-state/doze-standby#support_for_other_use_cases
if battery optimization is disabled for your app, your app can obtain partial wakelock d

[2019-02-19 10:12] crocket commented on #327
I installed com.github.catfriend1.syncthingandroid_gplay_v1.0.1.4_cdcdc3c1.apk and tested it.

Connection was severed temporarily after adding a folder from my computer to nexus 5, but there was no crash. I don't know what caused the crash in the first place, though.

[2019-02-19 11:13] Catfriend1 commented on #327
Good observation! Matches my knowledge about what I've already researched. thanks for writing the summary :).
Were you able to stay connected now after the initial temporary disconnect what's normal in syncthing ?
If not, try to add tcp4://phone_ip on the computer's side.

[2019-02-19 11:20] crocket commented on #327
Connections are restored soon after temporary disconnections caused by adding, removing, or sharing folders.

[2019-02-19 11:46] Catfriend1 commented on #327
The wakelock thingy in the official app is outdated and only works before android 6.x . That's why it was disabled in the fork permanently on higher versions. You can't bypass doze except whitelisting the app from doze which is what syncthing fork enforces during the welcome wizard.

"Respect Android battery saving setting" is unrelated to the sleep topic as its the power save mode the phone enter

[2019-02-19 11:48] crocket commented on #327
When partial wakelock and wifi lock are enabled in syncthing-fork, it could prompt users to disable battery optimization.

[2019-02-19 13:12] Catfriend1 commented on #327
@crocket I believe what you're saying but other tickets say this isn't correct according to user reports. Wifi lock for example has no impact when android 7 is dozing. On 7.1 it may have but there, disabling battery optimization solves the issue. I use the app myself quite heavily and - may this be manufacturer or ROM specific - it worked without disconnects on my phones >= 7.1. If you'd like to h

[2019-02-19 13:22] Catfriend1 commented on #327
"Stop the welcome wizard from prompting users to disable battery optimization"

I wont do this unless we have a better working code in place. Most users of official got used to and thought they can reduce battery usage by not exempting from doze which was optionally - and it led to a bunch of failing to connect syncthing instances. I'm not opposed to improve it but thinking of all that different A

[2019-02-19 13:40] crocket commented on #327
I think https://www.bignerdranch.com/blog/diving-into-doze-mode-for-developers/ accurately describes how doze behaves. I recommend reading it.

[2019-02-19 14:05] crocket commented on #327
How exactly does battery optimization affect syncthing-fork? It runs a foreground service which seems to be exempt from Doze.

[2019-02-19 15:55] Catfriend1 commented on #327
1. Its no java, so independent.
2. It needs adapters to stay awake (lan, wifi)
3. Try entering the tcp4://ip on the computer as Android may block broadcasting which local discovery relies on to find the ip automatically.

[2019-02-19 21:20] Catfriend1 commented on #326
Confirmed .

[2019-02-19 21:23] Catfriend1 commented on #326
Submitted the correct en-GB texts as suggested by you to gplay. Will take some hours to be visible.
Ticket stays open so I can compare if that's also correct in the files.

[2019-02-19 21:24] Catfriend1 commented on #324
Currently no more user feedback. Will reopen if new information is provided on this issue and it's being actively worked on.

[2019-02-19 21:24] #324 closed

[2019-02-19 21:27] Catfriend1 commented on #326
The files are already correct. ( https://github.com/Catfriend1/syncthing-android/blob/master/app/src/main/play/en-GB/listing/fulldescription ) I need to take time to publish all languages to the gplay store entry. Didn't post before because most translations aren't finished yet. Help by community members on transifex appreciated ;-).

[2019-02-19 21:27] #326 closed

[2019-02-19 23:26] crocket commented on #327
If the Go process was independent of syncthing-fork, it couldn't use network during doze even if battery optimization was disabled for syncthing-fork. Am I right?

[2019-02-20 00:28] crocket opened #329 ""Ignore Delete" breaks file watcher."
### Description of the issue

If I ignore delete on my computer and delete files on nexus 5, nexus 5 reports that those deleted files are out of sync. Because the folder is out of sync, file watcher stops working.
It seems file watcher works only when a folder is not out of sync.

The computer can scan and send files to nexus 5, but nexus 5 cannot automatically scan files because it is out of sync

[2019-02-20 01:42] crocket commented on #329
It seems I need to report this issue on syncthing/syncthing

[2019-02-20 01:43] #329 closed

[2019-02-20 05:32] Catfriend1 commented on #329
Yes, that needs to go upstream.

[2019-02-20 06:52] Catfriend1 commented on #191
The PR is still under development.

[2019-02-20 06:54] Catfriend1 commented on #189
The PR is still under development.

[2019-02-20 13:38] Catfriend1 opened #330 "[FR] Download Support Bundle"
https://forum.syncthing.net/t/inaccurate-sync-percentage-strange-conflicts-created-with-music-files-1277/12866/4

![image](https://user-images.githubusercontent.com/16361913/53115571-dcce4800-3546-11e9-8edc-d40b2c52cd77.png)

[2019-02-20 18:35] Catfriend1 opened #331 "GPlay report"
[code]

[2019-02-20 18:43] Catfriend1 commented on #331
https://developer.android.com/reference/android/os/StrictMode.VmPolicy.Builder.html#detectFileUriExposure()

[2019-02-20 18:43] #331 closed

[2019-02-20 18:46] Catfriend1 commented on #330
https://github.com/syncthing/syncthing/commit/675846ac1e5422c9d0c976600c3e857963aa19bc

[2019-02-20 19:16] Catfriend1 commented on #330
https://forum.syncthing.net/t/support-bundle/12875/2

[2019-02-21 06:29] Catfriend1 commented on #327
Conclusion: will readd the partial wake lock option. From what I heard a minority of users will need this as for example my own hardware works fine without the partial lock but needs exemption from doze instead to keep connected while sleeping.

[2019-02-21 09:53] crocket commented on #327
What is your hardware and operating system?

[2019-02-21 11:02] Catfriend1 commented on #327
I've tested:
- Samsung I9100 Android 8.1 lineage
- LG G4 h815 - Android 7.1.2 lineage
- Xiaomi mi8 - Android 8.1 miui 10
- Huawei p10 - Android 8.0

Got user report by o-l-a-v that Android TV need exempt from doze or the app is useless.

[2019-02-21 11:05] Catfriend1 commented on #327
Maybe also wifi sleep policy is also relevant as I've checked the setting always scan for wifi in android settings.

[2019-02-21 11:10] crocket commented on #327
Android 8.1 removed `Keep Wi-Fi on during sleep` option.

[2019-02-21 11:31] Catfriend1 commented on #327
Set it via adb put secure setting.
Manufacturers unfortunately have a great impact why Androids are not the same if the version is the same. See this:
![screenshot_2019-02-21-12-29-36-506_com android settings](https://user-images.githubusercontent.com/16361913/53166073-a0e1c400-35d4-11e9-965a-36d1e740ef45.png)

[2019-02-21 11:35] Catfriend1 commented on #327
Plus, in the location settings there is also an advanced option in Android to scan WiFi and Bluetooth. It's a whole mess, so I change the app if enough people confirm a change makes it better. This has nothing to do with you personally - I need to clarify first that it will help more people than destroying things on other phones where it operated fine already.

[2019-02-21 11:58] crocket commented on #327
I give up on fiddling with Wi-Fi settings.

[2019-02-21 18:26] Catfriend1 commented on #327
In summary, the forked version doesn't work for you?

[2019-02-21 18:37] colans commented on #44
@Catfriend1 Thanks for the tip!  Your release seems to have fixed https://github.com/syncthing/syncthing-android/issues/1275 as I no longer get pings from that device.  However, that part of the UI still looks the same.  There's no Ignore button, but I suppose just backing out of the Device Add form adds it to the ignore list.  So it works, but this isn't exactly clear from the UX.

[2019-02-21 19:15] Catfriend1 commented on #44
The ignore button is in the notification...

[2019-02-21 20:19] colans commented on #44
I didn't see one.  The only options were to swipe it away or tap it to open the Device Add form.

[2019-02-22 00:20] crocket commented on #327
It works. But, disabling battery optimization doesn't have any visible effect on connection reliability on LineageOS 14.1 and LineageOS 15.1

I suspect android TV is different from mobile devices because it dosen't operate on battery.

[2019-02-22 06:53] Catfriend1 commented on #327
The library idea is already discussed in upstream. But upstream needs a contributor to do so as a clean solution.

[2019-02-22 06:53] #327 closed

[2019-02-22 07:17] bt90 commented on #327
https://dontkillmyapp.com/ (maybe worth adding to the first-run slideshow)

Locking in the recent apps view might help aswell.

[2019-02-22 07:40] Catfriend1 commented on #327
Thanka you both for the pointers. Will read through this weekend.

[2019-02-22 07:45] Catfriend1 commented on #327
This one I found, for later: https://stackoverflow.com/questions/19568315/how-to-handle-code-when-app-is-killed-by-swiping-in-android/26882533#26882533

[2019-02-23 07:33] laama1 commented on #319
It is grayed out and cannot be entered.

[2019-02-23 07:47] Catfriend1 commented on #319
Syncthing needs to be running (status green) to change it.

[2019-02-24 08:03] JohnVeness opened #333 "Setting to remove persistent notification?"
I have recently moved from the mainline Syncthing Android app to this fork, exporting and importing the config. All went well and I prefer the fork mostly.

One thing I notice is that there is now a persistent notification saying "Syncthing is running" or "Syncthing is sleeping", which the mainline app didn't have.

Is this notification necessary? Is it possible to have a setting to remove/hide it

[2019-02-24 08:40] Catfriend1 commented on #333
Yes, it's necessary to run a so called foreground service to avoid the app being put asleep by Android and missing run condition changes. Is it okay to put the info on the wiki?

[2019-02-24 09:13] JohnVeness commented on #333
Thanks. I mentioned the readme as that is where the other major differences between mainline and fork are listed, but wiki is fine.

Obviously you know more than me, but I'm still not clear why the persistent notification is needed when the mainline app didn't have one and I'm not aware of it ever being killed off or missing run condition changes in my usage of it.

I was wondering if it depended

[2019-02-24 10:48] #333 closed

[2019-02-24 10:48] Catfriend1 commented on #333
https://github.com/Catfriend1/syncthing-android/wiki/Frequently-Asked-Questions

[2019-02-24 10:48] Catfriend1 commented on #333
https://github.com/Catfriend1/syncthing-android/blob/master/wiki/Frequently-Asked-Questions.md

[2019-02-24 10:49] Catfriend1 commented on #333
Thanks for your feedback on this. You're welcome.

[2019-02-24 10:54] Catfriend1 commented on #333
Also relevant: #327

[2019-02-24 11:26] JohnVeness commented on #333
Thanks very much for your understanding and patience. I see now that it's much more complicated than I thought! And I can see that adding an option to disable the notification, just to keep me happy, would likely cause other people to select it and complain when their syncs fail.

It's annoying that more and more apps require these persistent notifications and I can only hope that a future Android

[2019-02-24 11:36] Catfriend1 opened #335 "[Talk] Looking for testers of the recent Syncthing-Fork release"
Hi @snow-frog,

would you mind testing our current STF release and report back if the issue with WiFi detection still persists? I'd prefer a log if that's okay for you as it's then easier to debug this.

Kind regards
Catfriend1

p.s. This thread is a successor of ref #44

[2019-02-24 11:37] Catfriend1 commented on #333
Totally my opinion too, Android should get this cleaned up by a better way then forcing devs to integrate the Firebase bunch into their apps (which is from Google and doesn't get caught by the restrictions).
`It's annoying that more and more apps require these persistent notifications and I can only hope that a future Android version will tidy this all up.`

[2019-02-24 12:28] Catfriend1 opened #336 "[Feature Request] Sync only N first files of the dir"
Posted by @SerVB at https://github.com/syncthing/syncthing-android/issues/1279:

[2019-02-24 12:28] Catfriend1 commented on #336
Good idea. Also, you could write a batch script which ...:

* lists a directory sorted by name, age , etc.
* head -n 2 grabs the first two lines (= files)
* If the target syncthing directory has < 2 files move one of the files from the above determined source directory files into the target.
* delete files on your phone you've watched to let your cyclic running batch script refill with a new one.

[2019-02-24 12:29] Catfriend1 commented on #336
Wiki: https://github.com/Catfriend1/syncthing-android/wiki/Sync-N-first-files,-%22get-N-movies-for-watching%22

[2019-02-24 12:29] #336 closed

[2019-02-24 12:29] Catfriend1 commented on #336
https://github.com/Catfriend1/syncthing-android/blob/master/wiki/Sync-N-first-files-get-N-movies-for-watching.md

[2019-02-24 12:47] #330 closed

[2019-02-24 12:49] Catfriend1 commented on #335
I'm closing this as this is no coding issue and just talk. But will follow the thread and it can still be posted.

[2019-02-24 12:49] #335 closed

[2019-02-24 13:22] Catfriend1 opened #337 "It's not clear to the user why Options > Syncthing Options is greyed out"
Needs to be improved by a label ...

[2019-02-24 13:23] #337 closed

[2019-02-24 15:25] Catfriend1 commented on #336
@SerVB: Updated from your gist at: https://gist.github.com/SerVB/26fd23d9b4e0b8aa57a6169ab1508812

[2019-02-24 18:16] #325 closed

[2019-02-24 20:43] snow-frog commented on #335
Alright, how do i do that?

[2019-02-24 20:52] Catfriend1 commented on #335
@snow-frog You can download it from github or gplay. Export settings in the official app and import them into the forked app.

[2019-02-25 01:13] snow-frog commented on #335
Is that in the "Backup" section? it's greyed out and i can't access it

[2019-02-25 06:06] Catfriend1 commented on #335
Yes it's there. Do you have a screenshot?

[2019-02-25 06:40] snow-frog commented on #335
For some unfathomable reason i cant upload files on the mobile version of github (DRAG AND DROP ONLY...) and i cant sync the pic to my pc because *i depended on syncthing*, but yes, i presume that syncthing has to be running to do that; which means this is a "complete-critical-failure-everyone-dies-and-uninstalls" kind of bug.

[2019-02-25 09:22] Catfriend1 commented on #335
@snow-frog: I'm sorry to hear that but I guess it is. You'll have to re-setup your sync. To give you a little outlook to the future: Syncthing Fork can export and import your settings even if SyncthingNative fails to start.

[2019-02-25 10:12] dirtygardner opened #340 "Clarify meaning on status tab "not allowed to run on mobile data""
STATUS menu: "Syncthing is not allowed to run on mobile data connection." reword to "'Run on mobile data' is OFF."

One may not notice 'Run on mobile data' setting and think Syncthing is only usable on Wi-Fi.

Syncthing-Fork 1.0.1.4

[2019-02-25 10:38] Catfriend1 commented on #340
Yeah the status menu need to be made a little but nicer and with better words. Thanks for your suggestion.

[2019-02-25 16:32] bt90 commented on #266
How about using https://developer.android.com/reference/javax/net/ssl/SSLEngine.html#getSupportedProtocols() instead of checking the API level?

[2019-02-25 16:42] Catfriend1 commented on #266
This generally is a good idea, if the reports are accurate enough to determine e.g. Android 4.4 and 7.0 as incompatible this should be the next step.

[2019-02-25 16:43] Catfriend1 commented on #266
This generally is a good idea, if the reports are accurate enough to determine e.g. Android 4.4 and 7.0 as incompatible this should be the next step.

[2019-02-25 21:04] Catfriend1 commented on #266
https://forum.syncthing.net/t/android-and-tls1-2/12931/4

[2019-02-25 21:29] snow-frog commented on #335
I've switched over to the Fork and everything works great, thanks a ton. When dropbox dropped linux support i had no choice but to switch and chose syncthing, so this was kind of a life-critical thing.

[2019-02-26 10:43] sphh opened #341 "Support SecScanQR"
### Description of the issue

I use SecScanQR (https://github.com/Fr4gorSoftware/SecScanQR, https://f-droid.org/en/packages/de.t_dankworth.secscanqr/). It would be great, if SyncThing could also support this app for scanning purposes.

There is already a feature request open at SecScanQR: https://github.com/Fr4gorSoftware/SecScanQR/issues/28, so I don't know which side can actually implement it ..

[2019-02-26 12:51] Catfriend1 commented on #341
This has to be done in SecScanQR first. I'm already aware of the other ticket.

[2019-02-26 12:51] #341 closed

[2019-02-26 13:09] sphh commented on #341
Thanks. I just wanted to make sure, that everybody knows about the other! ;-)

[2019-02-26 14:34] Catfriend1 commented on #341
Duplicate of https://github.com/Catfriend1/syncthing-android/issues/325

[2019-02-28 06:22] Catfriend1 commented on #321
https://stackoverflow.com/questions/17645747/illegalstateexception-on-fragmentmanager

[2019-02-28 07:09] Catfriend1 commented on #321
[code]

[2019-02-28 07:20] #321 closed

[2019-02-28 07:32] #340 closed

[2019-03-04 07:52] Catfriend1 opened #344 "[FR] Add folder dialog: "Tap to add device" if no devices are present"
### Description of the issue
Add folder dialog: "Tap to add device" if no devices are present.
This should help a new user to understand the relations between what to do first and next better.

[2019-03-04 09:19] Catfriend1 opened #346 "[FR] Show Android OS Open File Limit in Settings/About"
[FR] Add ulimit -n

[2019-03-04 11:47] Catfriend1 commented on #346
https://github.com/syncthing/syncthing/blob/e2e8f6e940e3f77e1c172e3916e35b4e75127be7/cmd/syncthing/main.go#L629-L632

https://forum.syncthing.net/t/too-many-open-files-v-1-0-1/12958/7

[2019-03-05 21:51] Catfriend1 opened #347 "[FR] Add "folder is unshared" status label"
[FR] Add the "folder is unshared" label

[2019-03-05 22:01] #344 closed

[2019-03-05 23:12] #346 closed

[2019-03-05 23:58] #347 closed

[2019-03-06 00:34] Catfriend1 opened #352 "Camera folder is created with useLargeBlocks == false"
### Description of the issue
Camera folder is created with useLargeBlocks == false but the model says the default is true since v1.0.1.

[2019-03-06 00:34] Catfriend1 commented on #352
This error was introduced by PR #300.

[2019-03-06 00:38] #352 closed

[2019-03-06 11:54] Catfriend1 opened #354 ""Share to Syncthing" when user didn't complete welcome wizard"
App-Version 1010001
Motorola moto e(5) cruise (james), Android 8.0

com.nutomic.syncthingandroid.util.ConfigXml$OpenConfigException:
  at com.nutomic.syncthingandroid.util.ConfigXml.parseConfig (ConfigXml.java:177)
  at com.nutomic.syncthingandroid.util.ConfigXml.loadConfig (ConfigXml.java:107)
  at com.nutomic.syncthingandroid.util.ConfigRouter.getFolders (ConfigRouter.java:40)
  at com.nutomic.s

[2019-03-06 16:39] merlinuwe opened #355 "How to end the app in one step?"
### Description of the issue
When I want to end your app completely, I cannot do this in one step by use the "Beenden"-Button ("end", "close", or "exit" I think). I also can open the window again by using the square android button at the bottom of my device, then I have additionally to swipe the window to the right to get the app really quitted.

(Or did I overlook something?)

### Reproducable on

[2019-03-06 18:26] Catfriend1 commented on #355
Hi,
Thanks for reaching out!
There isn't a one step solution as the app acts as a service to keep the sync process running. Going to the drawer menu and selecting exit is the only way out. You may not (and technically don't need) to swipe it away from recents after you quit from the menu.

What you might be interested in is defining your run conditions so the app will exit any resource heavy parts

[2019-03-06 18:26] #355 closed

[2019-03-09 14:41] Catfriend1 opened #356 "[FR] Add UI for "ignoreDelete" folder option"
### Description of the issue
Add UI for "ignoreDelete" folder option

[2019-03-09 14:52] #356 closed

[2019-03-09 15:15] #256 closed

[2019-03-09 15:17] Catfriend1 opened #358 "ConfigXml: Use defaults from model (instead of hardcoded)"
### Description of the issue
ConfigXml: Use defaults from model (instead of hardcoded)
This makes the code easier to maintain.

[2019-03-09 15:43] #358 closed

[2019-03-09 18:57] Catfriend1 commented on #266
@bt90
I've tried using your suggestion in a test code. The problem is, Android 7.0 reports it's capable of TLS 1.2
[code]

[2019-03-09 20:16] Catfriend1 commented on #266
Giving up on this, see my detailed report on:
https://forum.syncthing.net/t/android-and-tls1-2/12931/29

[2019-03-09 20:16] #266 closed

[2019-03-09 22:01] #13 closed

[2019-03-09 22:01] Catfriend1 commented on #13
Cancelled this task. Config seems pretty stable now and backup functions also work great.

[2019-03-09 22:02] #354 closed

[2019-03-09 22:03] Catfriend1 commented on #177
Ahh yes, already March and I didn't get my ass up to do this. Maybe I should make that earlier than originally intended.

[2019-03-09 22:16] Catfriend1 opened #361 "[FR] RecentChanges List: Add refresh button"
### Description of the issue
RecentChanges List: Need a refresh button on the action bar

[2019-03-09 22:21] Catfriend1 opened #362 "[FR] Device dialog - Show folders shared with a device"
### Description of the issue
Device edit dialog - Show folders shared with that device

[2019-03-10 09:47] Catfriend1 commented on #131
Ref: https://forum.syncthing.net/t/folder-markers-are-now-directories-v0-14-38/10596/46?u=catfriend1

[2019-03-10 11:15] Catfriend1 commented on #131
@slashbeast Can you please help me testing if my implemented solution from PR #363 works correctly and solves your problem? You would have to create a new folder to see if it's working as it doesn't modify existing folders for safety reasons.

Link to test build with Syncthing v1.1.0 stable : https://drive.google.com/open?id=1FyPl16VXL6WAjuazSDIBtaN79ZRCTX0o

Kind regards,
Catfriend1

[2019-03-10 11:18] Catfriend1 commented on #131
@NicoWeio Ping

[2019-03-10 17:14] Catfriend1 opened #364 "Shorten logcat excerpts"
### Description of the issue
Shorten logcat excerpts
/Choreographer
/PacProxySelector
/zygote64
/VideoCapabilities
/StrictMode
/ContentCatcher
/cr_CrashFileManager
/cr_AwContents
/cr_ChildProcessConn
/cr_media

[2019-03-10 17:14] Catfriend1 commented on #364
[code]

[2019-03-10 17:15] Catfriend1 opened #365 "Cannot select parent folder after "Sharing to Syncthing" subfolder"
### Description of the issue
Got it by mail:

I got a bug to report (not new in latest version, it's there for a few weeks now). When I share something with syncthing and choose a folder that is in my sync folder I can't go in the parent folder anymore. Every new file I want to sync has to be in the folder I chose before because there is no possibility to go back. I can provide some logs or Screen

[2019-03-10 17:22] Catfriend1 commented on #365
Confirmed as a bug. Cannot move upwards.
![image](https://user-images.githubusercontent.com/16361913/54088757-76786080-4361-11e9-8c28-6dae81a40c8a.png)
![image](https://user-images.githubusercontent.com/16361913/54088758-7b3d1480-4361-11e9-88c1-d8ab0ccf109c.png)

[2019-03-10 18:21] NicoWeio commented on #131
Sorry @Catfriend1, I'm too short on time at the moment. Otherwise, I will reply later.

[2019-03-10 21:02] skyguy opened #367 "Folder label isn't trimmed of leading/trailing spaces"
When creating a new Folder and editing the Folder Label, the Android keyboard sometimes adds a space at the end, which then becomes part of the name across all devices. (Ending up with quotes around it.)

### Version Information
    App Version: 1.1.0.1
    Syncthing Version: v1.1.0
    Android Version: Android 4.4.4
    Device manufacturer: Samsung

[2019-03-10 21:41] Catfriend1 commented on #367
Thanks. I'll check that. If official trims the path, we should do it too.:)

[2019-03-11 06:26] Catfriend1 commented on #367
Log:
[code]

[2019-03-11 06:27] Catfriend1 commented on #367
So you mean this line from SyncthingNative?

[2019-03-11 06:27] Catfriend1 commented on #367
config.xml:
[code]

[2019-03-11 06:28] Catfriend1 commented on #367
![image](https://user-images.githubusercontent.com/16361913/54104198-3e0f6b80-43cf-11e9-86fa-349f24a9a73c.png)

[2019-03-11 06:29] Catfriend1 commented on #367
![image](https://user-images.githubusercontent.com/16361913/54104220-57181c80-43cf-11e9-8220-3606561df6e2.png)
The space is here, too.

[2019-03-11 06:32] Catfriend1 commented on #367
I'm now using a PC Syncthing (fresh installation) to test upstream behaviour.
![image](https://user-images.githubusercontent.com/16361913/54104292-99415e00-43cf-11e9-8471-eba7d992063b.png)
The folder label shows with space on the Web UI right after saving and creating the new folder. When opening the config from %LocalAppData%\Syncthing\config.xml, the space was trimmed.
[code]

[2019-03-11 06:38] Catfriend1 commented on #367
Clearing browser cache, restarting PC Sycnthing, the space seen on the WebUI "magically" disappeared. (Alternative could be STRG+F5)
![image](https://user-images.githubusercontent.com/16361913/54104548-985cfc00-43d0-11e9-9268-a8c2b16bba76.png)

It seems, Syncthing trims the space when writing or re-reading its own config, but not when the web UI sits there un-refreshed after creating the folder wi

[2019-03-11 06:54] Catfriend1 commented on #367
@skyguy
Can you please have a look and test if the attached test APK solves your problem?
Link: https://drive.google.com/open?id=1ANbJzEH3UnYEYnc8M9bliVm24LMeIYMp

[2019-03-11 07:05] Catfriend1 commented on #367
@skyguy
Can you please have a look and test if the attached test APK solves your problem?
(Updated) Link: https://drive.google.com/open?id=19EeXmx1bzwjWuxa7qRtz_wtLrsIST1Og

[2019-03-11 08:43] #365 closed

[2019-03-11 14:41] #131 closed

[2019-03-11 17:30] #367 closed

[2019-03-11 20:52] skyguy commented on #367
Thanks for the rapid response!

It looks like you've identified the source of the problem. I'll check it again when the next release is available on F-Droid.

[2019-03-11 21:25] Catfriend1 opened #369 "Check the notification on new device/folder event"
### Description of the issue
It works, but sometimes the notification doesn't reappear when I'm expecting it to do so.

[2019-03-11 21:28] Catfriend1 commented on #367
A release of 1.1.0.3 is on its way...

[2019-03-15 09:06] kvaster opened #370 "Android Q Beta - Wrong Bionic TLS alignment (golang)"
Syncthing crashes on Pixel 3 XL after upgrading to Android Q Beta

    App Version: 1.1.0.3
    Syncthing Version: v1.1.0
    Android Version: Android Q
    Device manufacturer: Google
    Device model: Pixel XL 3

--------- beginning of crash
03-15 11:39:37.094 F/libc    (11681): error: "/data/app/com.github.catfriend1.syncthingandroid-3mY72xEAJsVHsCVYH8zyLA==/lib/arm64/libsyncthing.so": executab

[2019-03-15 10:14] Catfriend1 commented on #370
Let's wait until Q is finished like I wrote on the other ticket in official... Maybe google fixes this before release.

[2019-03-15 10:26] kvaster commented on #370
Sounds like I've made a big mistake by updating to Android Q Beta :(
One of my main apps will not work...
Thanks for the info.

[2019-03-15 11:42] Catfriend1 commented on #370
I'm sorry to hear that. Probably there's also bad news as Google is about to launch Fuchsia OS and I don't know if this will kill Syncthing for Android or if there's a way to continue it then.

[2019-03-15 11:46] kvaster commented on #370
Topic question:
I've tried to investigate the problem. Is it worth to try to compile syncthing locally only for 32-bit ? Maybe it will work for now.

Offtopic:
I thought it's not yet ready for Android Q at least.

[2019-03-15 12:27] Catfriend1 commented on #370
It might also be a go or ndk issue...

[2019-03-15 19:36] Theobald93 opened #371 "[FR] Button "rescan all" folders"
Please implement the feature to "rescan" a folder like on the web-gui.
![grafik](https://user-images.githubusercontent.com/11169020/54457503-ddcb5180-4761-11e9-9d30-e527cff49676.png)
For example: Long-Press on the folder opens a pop-up:
"Pause"
"Rescan"
"Edit"

[2019-03-15 20:08] kvaster commented on #370
A small, but good update (at least for me :) ... ):
I've started with this: https://github.com/syncthing/syncthing-android/issues/1291
Following with this: https://github.com/golang/go/issues/29674
And, in general, ending with this: https://github.com/shadowsocks/v2ray-plugin-android/issues/6

First of all you should not wait for Android Q final - this will be not fixed by android itself. This is

[2019-03-15 22:38] Catfriend1 commented on #370
How can that patch be applied automatically by a command line build script?!

[2019-03-15 23:24] otbutz commented on #370
And that's where the story ends for me. Android Q will be released somewhere around August which is about the same timewindow for the next golang release.

[2019-03-16 08:27] kvaster commented on #370
@Catfriend1 , I will write python script today.

[2019-03-16 08:32] kvaster commented on #370
@otbutz , seems so, but hacky patch isn't harmfull - it just changes TLS segment algnment. Nothing will change for regular users and beta users will be happy :)

[2019-03-16 17:29] TheTerrasque opened #373 "[FR] Support syncthing-lite / dropbox style folders"
It would be very nice if we could have a shared folder on our phone that didn't download everything, but worked more like dropbox.

Syncthing lite has that functionality, but it would be a lot better to have everything in one program.

[2019-03-16 18:46] Catfriend1 commented on #373
Ok file a PR with the relevant parts of lite, please. Then we'll reopen it.

[2019-03-16 18:46] #373 closed

[2019-03-16 19:37] NatoBoram commented on #370
@kvaster You might want to use [code blocks](https://help.github.com/en/articles/basic-writing-and-formatting-syntax#quoting-code) to wrap your log output so you don't mention issues `#1`, `#2`, `#3`, `#4` and `#5` needlessly :)

[2019-03-16 22:27] Catfriend1 commented on #370
@kvaster What are the correct values for armeabi (arm32) and x86 so I could test on the emulator?

[2019-03-16 22:38] Catfriend1 commented on #370
What command line did you use with the readelf? Where to look?

[2019-03-16 23:26] Catfriend1 commented on #370
Do you mean:
`readelf -l libsyncthing.so  | grep "TLS"`

[2019-03-16 23:34] Catfriend1 commented on #370
As I cant get anything to work, would you please upload your libsyncthing.so before and after the patching?

[2019-03-17 00:10] Catfriend1 commented on #370
I cant get this verified if the PR works, somewhere read about Android Studio does not provide arm64-v8a images for Android Q with pixel 3 yet. x86 was discussed in the TLS alignment threads as "wont be supported any longer" but I only have that emulator.
First way: - We find users having arm64-v8a or armeabi devices and test with them together
Second way: - We get x86 working with a patch and try

[2019-03-17 00:22] Catfriend1 commented on #370
https://github.com/fuchsia-mirror/zircon/blob/0dbac4d37ca09eaebcb5d1337775b9dc78a4ac06/system/public/zircon/tls.h
https://android.googlesource.com/platform/bionic/+/master/docs/elf-tls.md#Thread_Specific-Memory-Layout
https://stackoverflow.com/questions/897105/c-alignment-at-not-a-power-of-2/897111#897111
https://github.com/android-ndk/ndk/issues/635
@rprichard: Which are the correct values for pa

[2019-03-17 00:36] Catfriend1 commented on #370
Tried to compile for x86 with -mstackrealign  and -mno-stackrealign with no luck.

[2019-03-17 00:42] Catfriend1 commented on #370
Still getting this on the x86 emulator:
[code]

[2019-03-17 09:10] kvaster commented on #370
Python script for patching alignment: https://pastebin.com/XZMKMmMd
Please note that this might not work for x86. Golang does not use TLS segment for arm/arm64, but I'm not sure if this is the same for x86. I've tested arm and arm64 patched libs on Pixel 3 XL with Android Q Beta.

[2019-03-17 11:24] Catfriend1 commented on #370
Thanks for your contributon. It doesn't work on x86. Your code is far better than mine because you dynamically determine which byte to change. I've already found out yesterday by try & readelf that your above mentioned positions of the byte aren't static across builds (had 0x150 instead of 0x14c for example). I've incorporated your script into the native build script. Builds fine, but now I need f

[2019-03-17 12:58] #370 closed

[2019-03-17 13:23] Catfriend1 commented on #370
See release page. https://github.com/Catfriend1/syncthing-android/releases

[2019-03-17 13:30] #369 closed

[2019-03-17 15:10] Catfriend1 commented on #371
Maybe we should add service action buttons on the edit folder dialog. Long press and short press may be confusing.!?

[2019-03-17 15:16] Catfriend1 commented on #370
https://github.com/golang/go/issues/29249

[2019-03-17 17:23] Theobald93 commented on #371
Yes, long- and short- press may be confusing. But i think a syncthing-desktop-user does not expect a "rescan" or "pause" in the Edit-dialogue.

Method #1 - Easiest:
Adding a Button to the Edit-Dialog.

Method #2:
Remove the "actual short-press behaviour" and display a popup when the user short- or long-press the folder with "Pause", "Rescan" and "Edit".

Method #3 - Most work:
Remove the "actual s

[2019-03-17 18:58] Catfriend1 commented on #371
Hmmm I like three very much :)

[2019-03-17 19:19] kvaster commented on #370
@NatoBoram, I was using code blocks. Seems that it was due to missing emtpy line after <detail> tag. Not my fault.
@Catfriend1, thanks! Now I can use official build :)

[2019-03-18 07:19] DrSchnagels opened #375 "Crash on 8.1 Pixel C with Nvidia Tegra X1"
### Description of the issue
constant crashes on 8.1 Pixel C with Nvidia Tegra X1
It restarts, but crashes again later the day. I only have the syncthing log.

### Reproducer

### Version Information
    App Version: with all of them, newest too
    Syncthing Version: with all of them, newest too
    Android Version: Android 8.1
    Device manufacturer: Google Pixel C with Nvidia Tegra X1

### And

[2019-03-18 07:54] Catfriend1 commented on #371
Is this working and compatible down to android 4.4? https://medium.com/@hitherejoe/exploring-the-android-design-support-library-bottom-navigation-drawer-548de699e8e0

[2019-03-18 07:58] Catfriend1 commented on #375
Thanks for the report. This is all about android os code , no syncthing native or java code the app consists of is involved ... I've already investigated and googled that with no clue what causes this. I think it has to be a big of the os and needs to be reported to google.

[2019-03-18 07:59] Catfriend1 commented on #375
Is there any reproducer I can try?

[2019-03-18 08:50] DrSchnagels commented on #375
Well, your syncthing is super stable on my OnePlus phone. I can just guess that it might be a Nvidia Tegra issue. I can provide more logs.
Interestingly this did not happen with the old nutomic syncthing.

[2019-03-18 09:08] Catfriend1 commented on #375
Maybe it's related to the use of FragmentStatePagerAdapter instead of FragmentPagerAdapter?

[2019-03-18 09:23] DrSchnagels commented on #375
I have no idea. I'm an mechanical engineer, not a programmer^^.
I will get the newest log from today later when im home.

[2019-03-18 15:02] Theobald93 commented on #371
I really don't know because i am no App-Delevoper^^
This App with support 4.0.3 also has this menu, but i am not sure if its the official menu.
https://play.google.com/store/apps/details?id=com.alphainventor.filemanager

Method4:
Using a context menu if a user short-or-long-presses a folder.

[2019-03-18 23:56] rprichard commented on #370
For x86, the alignment of the TLS segment isn't an issue. It's only a problem on arm32/arm64, because the normal ELF TLS ABI allocates an executable's TLS memory in a way that overlaps with Bionic's existing TLS slots (TLS_SLOT_xxx). To avoid the conflict, an arm32/arm64 executable's TLS segment needs at least a 32-byte alignment on arm32 and a 64-byte alignment on arm64.

FWIW: I think the binary

[2019-03-19 06:01] Catfriend1 commented on #370
@rprichard: Thanks for the useful insights. What I don't understand is why tls alignment isn't an issue on x86 but on android q x86 emulator from android studio I'm getting the crash on inittls()+189. See https://github.com/Catfriend1/syncthing-android/issues/370#issuecomment-473604847

[2019-03-19 10:52] DrSchnagels commented on #375
Crash from yesterday:

03-18 23:51:54.031 W/sh      (32227): type=1400 audit(0.0:3370): avc: denied { read } for name="/" dev="rootfs" ino=2 scontext=u:r:untrusted_app:s0:c512,c768 tcontext=u:object_r:rootfs:s0 tclass=dir permissive=0
03-18 23:51:54.068 I/Util    (16281): runShellCommandGetOutput: Exited with code 0
03-18 23:52:12.012 I/Util    (16281): runShellCommandGetOutput: Exited with code 0

[2019-03-19 11:09] Catfriend1 commented on #375
runShellCommandGetOutput: Exited with code 0
Means everything went fine executing the cmd in the shell.
Maybe we see an os issue here as it's rarely reported on gplay for the pageradapter.

[2019-03-20 17:25] sphh opened #376 "Cannot specify folder"
### Description of the issue
1. I added a new shared folder onto my server via the web interface.
2. After some time I got a notification on my phone, that my server wants to add a new folder.
3. I tapped on the notification and Syncthing-Fork duly opened the `Create Folder` mask.
4. To select the local folder, I tap onto `Directory` and the following folder selection screen opens:
![Screenshot_20

[2019-03-20 17:57] Catfriend1 commented on #376
Can you click on the dots on the upper right to select "show internal storage"?

[2019-03-20 19:47] sphh commented on #376
You are absolutely right. No Idea how I could miss that (I was probably expecting to be shown the root of the internal storage and not the `Recent` folder):
![Screenshot_20190320-200942](https://user-images.githubusercontent.com/4856462/54714386-1b105480-4b51-11e9-8815-1b66dddf9bc9.png)

Would it be better to go straight to the root of the internal storage if you tab the folder?

Thanks for your h

[2019-03-20 20:17] Catfriend1 commented on #370
@jaseemabid does syncthing fork work on your android q device?

[2019-03-21 08:06] sphh commented on #376
Sounds like a perfectly Good Idea to me.

[2019-03-21 16:28] Catfriend1 opened #377 "[FR] Show total downloaded/uploaded bytes"
Show total downloaded/uploaded bytes

[2019-03-21 19:51] DrSchnagels commented on #375
Crash from yesterday:

--------- beginning of main
03-21 06:18:20.644 W/SyncthingNativeCode(16281): goroutine 145 [runnable]:
03-21 06:18:20.644 W/SyncthingNativeCode(16281): github.com/syncthing/syncthing/lib/events.(*Subscription).Poll(0x400090a280, 0xdf8475800, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, ...)
03-21 06:18:20.645 W/SyncthingNativeCode(16281): 	F:/GitHub/syncthing-android/syncthing/sr

[2019-03-21 19:52] DrSchnagels commented on #375
And today:
I never have crashes on my Oneplus 6, Android 9.

--------- beginning of main
03-21 15:53:09.863 W/SyncthingNativeCode(16281): 	F:/GitHub/syncthing-android/syncthing/go/src/net/http/server.go:1995 +0x38
03-21 15:53:09.864 W/SyncthingNativeCode(16281): net/http.(*ServeMux).ServeHTTP(0x4000402ac0, 0x7bd730ece0, 0x4001f600e0, 0x4000808700)
03-21 15:53:09.864 W/SyncthingNativeCode(16281):

[2019-03-21 20:34] Catfriend1 commented on #375
Ok I'm surprised the native crashes. Please report this on the forum with the log attached. The goroutine crash comes from the syncthing core and not from the Android app part. I hope the core devs can solve this riddle.

[2019-03-21 23:29] jaseemabid commented on #370
@Catfriend1 I'vent tried the fork yet. I'll give that a try soon. Is it possible to get the patch upstream and make a new release or do you want more of us to test this out?

[2019-03-22 06:40] Catfriend1 commented on #370
I think the dirty fix will not suit upstream requirements, but if many people say it's okay including to add their Android make model and versions we could have a proposal to upstream.

[2019-03-23 09:23] Catfriend1 commented on #375
... Closed until feedback from go devs arrived.

[2019-03-23 09:23] #375 closed

[2019-03-23 11:36] #376 closed

[2019-03-23 13:02] #361 closed

[2019-03-23 13:35] Catfriend1 opened #381 "[FR] Notify when disk space runs out"
### Android Log
`2019-03-23 14:34:29.980 15313-15313/com.github.catfriend1.syncthingandroid.debug E/EventProcessor: onItemFinished: Error "save: write /storage/1D0B-1F09/Android/data/com.github.catfriend1.syncthingandroid.debug/files/5/Camera/.syncthing.atvi.bik.disabled.tmp: no space left on device" reported on file: /storage/1D0B-1F09/Android/data/com.github.catfriend1.syncthingandroid.debug/fil

[2019-03-23 13:38] #377 closed

[2019-03-23 13:53] CedricCabessa commented on #370
+1 your patch fixes the issue on my pixel2

https://github.com/syncthing/syncthing-android/issues/1291#issuecomment-475871423

[2019-03-23 15:57] #381 closed

[2019-03-23 16:13] Catfriend1 opened #383 "Recent Changes dialog - Filter unnecessary rows"
Recent Changes dialog - Filter unnecessary rows:
- A file has been added and then removed - filter the add event as we can't click and open the file.
- A directory has been removed - filter all lines mentioning "thousands" of files that were in it.

[2019-03-23 16:16] Catfriend1 commented on #14
This is solved with #381 and the check for the sdwrite permissions on folder creation and the check for the sdcard android permission on app startup. I think all those fixes we made during the last year are enough to notify the user if issues arise. There's also a red text on the UI "not synced" if something went wrong.
@klement :  Let's close this unless anyone that had chance to read the ticket

[2019-03-23 16:16] #14 closed

[2019-03-25 16:05] Catfriend1 opened #386 "Gradle 4.10.1 issue"
### Android Log
[code]

[2019-03-25 16:22] Catfriend1 commented on #386
Any ideas what's causing this? Which plugin is it?

[2019-03-25 19:25] Catfriend1 commented on #15
So I'm finally trying to implement the hourly sync solution to save our batteries (=

[2019-03-26 08:48] Catfriend1 opened #388 "F-Droid build fails"
[code]